

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="gridDataLabel">Thông tin chi tiết</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="resTour">
          <div class="container-fluid" >
            <div class="row align-items-center">
              <div class="col-12 text-right">
                <a href="javascript:void(0)" *ngIf="type == 'detail'" (click)="sessionResTour()" class="btn btn-success">Chi tiết lịch trình</a>
                <a href="javascript:void(0)" *ngIf="type == 'detail'" class="btn btn-xl btn-primary" (click)="isEditChange()">{{!isEdit ? "Chỉnh sửa":"Quay lại"}}</a>
              </div>
            </div>
            <form>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-tourName">Tên Chuyến Du Lịch</label>
                      <input type="text" id="nameTour" name="nameTour" (input)="inputChange()" class="form-control form-control-alternative" placeholder="Nhập số tên chuyến du lịch" [(ngModel)]="resTour.nameTour" [readonly]="!isEdit">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-thumbsnail">Hình ảnh</label>
                      <input type="text" id="thumbsnail" name="thumbsnail" (input)="inputChange()" class="form-control form-control-alternative" placeholder="Nhập hình ảnh" [(ngModel)]="resTour.thumbsnail" [readonly]="!isEdit">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <label class="form-control-label" for="input-fromPlace">Điểm đi</label>
                    <input type="text" id="fromPlace" name="fromPlace" (input)="inputChange()" class="form-control form-control-alternative" placeholder="Nhập điểm đi " [(ngModel)]="resTour.fromPlace" [readonly]="!isEdit">
                  </div>
                  <div class="col-lg-6">
                    <label class="form-control-label" for="input-toPlace">Điểm đến </label>
                    <input type="text" id="toPlace" name="toPlace" (input)="inputChange()" class="form-control form-control-alternative" placeholder="Nhập điểm đến " [(ngModel)]="resTour.toPlace" [readonly]="!isEdit">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-lg-2">
                    <div class="form-group">
                      <label class="form-control-label" for="input-singleRoomPrice">Số sao</label>
                      <input type="number" name="rating" id="rating" min="0" value="0" (input)="inputChange()" class="form-control form-control-alternative" placeholder="Nhập số sao" [(ngModel)]="resTour.rating" [readonly]="!isEdit">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <hr>
          <div class="row align-items-center">
            <div class="col-12 text-right">
              <button  *ngIf="type == 'detail'" class="btn btn-lg btn-danger" data-bs-toggle="modal" data-bs-target="#deleteTourModal" (click)="delete()">Xóa</button>
              <button *ngIf="isChange && type == 'detail'" class="btn btn-lg btn-info" (click)="restore()">Khôi phục</button>
              <button *ngIf="isChange" class="btn btn-lg btn-success"  (click)="save()">{{type == 'detail' ? "Cập nhật thông tin/ giá":"Thêm"}}</button>
            </div>
          </div>
        </ng-container>
      </div>






