
.containerBN{
  width:1000px;
  max-width: 100%;
  margin: 60px auto;
}
.containerBN .bannerBN{
  width:100%;
  height: 600px;
  position: relative;
}
.containerBN .bannerBN .titleBN{
  position: absolute;
  top: 23.6%;
    left: -24%;
  // background-color: #FDBC0C;
  // background-image: linear-gradient(to top right,#FCB116, #FCC210);
  width: 147%;
    height: calc(95% - 50px);
  border-radius: 40px;
  text-align: center;
  font-weight: bold;
  font-size: xxx-large;
}
.containerBN .bannerBN .detailBN{
  position: absolute;
  top: 23.6%;
  background-color: #FFEECE55;
  backdrop-filter: blur(20px);
  width: calc(150%);
  height: 90%;
  left: -23.5%;
  border-radius: 40px;
  // display: grid;
  // grid-template-columns: auto 700px auto;
  // grid-template-rows: 300px;
  padding:50px 0;
  box-shadow: 0 50px 50px #0000004A;
}
.containerBN .bannerBN .detailBN .infoBN h2{
  color:#5B5280;
  font-weight: bold;
  font-size: xx-large;
}
.containerBN .bannerBN .detailBN .infoBN,
.containerBN .bannerBN .detailBN .optionBN{
  padding:30px;
  // overflow: hidden;
}
.containerBN .bannerBN .detailBN .infoBN .desBN{
 opacity: 0.7;
}
.containerBN .bannerBN .detailBN .imgBN{
  background-color: #fff;
  border-radius: 50%;
  background-image: radial-gradient(#F8C697, #FFF2D9);
  // transform: rotate(25deg);
}
.ellipseBN{
  width:30px;
  height:30px;
  margin:20px 5px 20px 0;
  display: inline-block;
  border-radius: 50%;
}
.cardBN{
  background-color: #34332E;
  color:#FCB116;
  padding:10px 20px;
  border-radius: 10px;
  border:none;
}

.icon-btn {
  width: 50px;
  height: 50px;
  border: 1px solid #cdcdcd;
  background: white;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
  font-weight: 500;
  font-family: inherit;
}

.add-btn:hover {
  width: 120px;
}

.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: seagreen;
}

.add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.icon-btn:focus {
  outline: none;
}

.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
}

.add-btn:hover::before,
.add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}

.add-btn:hover .btn-txt {
  opacity: 1;
}

.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background: seagreen;
  overflow: hidden;
}

.add-icon::before {
  left: 22px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.add-icon::after {
  right: 22px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}


//btn delete
.cssbuttons-io {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  border: none;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: ghostwhite;
  overflow: hidden;
 }

 .cssbuttons-io svg {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
 }

 .cssbuttons-io span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 1.2em 0.8em 1.05em;
 }

 .cssbuttons-io::before,
 .cssbuttons-io::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
 }

 .cssbuttons-io::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
 }

 .cssbuttons-io:hover::before {
  transform: translate3d(100%, 0, 0);
 }

 .cssbuttons-io:active {
  transform: scale(0.95);
 }
