<div class="modal-header">
  <h1 class="modal-title fs-5" id="gridDataLabel">Thông tin chi tiết</h1>
  <button #closeModal type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()" [disabled]="isLoading"></button>
</div>
<div class="modal-body">
  <ng-container *ngIf="resDistrict">
    <div class="container-fluid" >
      <form>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label class="form-control-label" for="name">Tên quận/huyện
                  <span class="text-red">* {{this.validateLocation.nameDistrict ? this.validateLocation.nameDistrict : ''}}</span>
                </label>
                <input type="text" id="name" name="name" (input)="inputChange()" class="form-control " placeholder="Nhập tên quận/huyện" [(ngModel)]="resDistrict.nameDistrict"  [readonly]="isLoading">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label class="form-control-label" for="idProvince">Thành phố/tỉnh
                  <span class="text-red">* {{this.validateLocation.provinceId ? this.validateLocation.provinceId : ''}}</span>
                </label>
                <ng-select [items]="resProvince"
                bindLabel="nameProvince"
                bindValue="idProvince"
                [(ngModel)]="resDistrict.provinceId"
                placeholder="Chọn thành phố/tỉnh..."
                name="idProvince"
                id="idProvince"
                [clearable]="false"
                [searchable]="false"
                (change)="inputChange()"
                [disabled]="isLoading">
              </ng-select>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="row align-items-center">
      <div class="col-12 text-right">
        <button  *ngIf="type == 'detail'" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteDistrictModal" (click)="getDataDelete()" [disabled]="isLoading">Xóa</button>
        <button *ngIf="isChange && type == 'detail'" class="btn btn-sm btn-info" (click)="backup()" [disabled]="isLoading">Khôi phục</button>
        <button *ngIf="isChange" class="btn btn-sm btn-success"  (click)="isLoading=true;save()" [disabled]="isLoading">{{isLoading?'Đang xử lý...':type == 'detail' ? "Lưu":"Thêm"}}</button>
      </div>
    </div>

  </ng-container>
</div>


