<div class="modal-header bg-secondary">
  <h1 class="modal-title fs-5" id="gridDataLabel">Thông tin</h1>
  <button #closeModal type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()" [disabled]="isLoading"></button>
</div>
<div class="modal-body">
  <ng-container *ngIf="resSchedule">
    <div class="container-fluid" >
      <form>
        <ul ngbNav #nav="ngbNav" [(activeId)]="active"  class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink style="font-size: 25px;">Lịch trình</a>
            <ng-template ngbNavContent>
              <div class="row">
                <fieldset style="border: 1px solid #ced4da; border-radius: 0.375rem;">
                  <legend>Chi tiết lịch trình</legend>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-beginDate">Ngày bắt đầu bán vé
                          <span [class]="type != 'create' &&  resSchedule.isDelete || isLoading ?'d-none':'text-red'">* {{this.validateScheduleModel.beginDate ? this.validateScheduleModel.beginDate : ''}}</span>
                        </label>
                        <input   (change)=" inputChange(); dateChange('beginDate') " [(ngModel)]="resSchedule.beginDateDisplay" class="form-control datepicker" placeholder="Chọn ngày" name="beginDate" id="beginDate" type="datetime-local" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || isLoading" />
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-endDate">Ngày kết thúc bán vé
                          <span [class]="type != 'create' &&  resSchedule.isDelete || isLoading?'d-none':'text-red'">* {{this.validateScheduleModel.endDate ? this.validateScheduleModel.endDate : ''}}</span>
                        </label>
                        <input   (change)="inputChange(); dateChange('endDate')" [(ngModel)]="resSchedule.endDateDisplay" class="form-control datepicker" placeholder="Chọn ngày" name="endDate" id="endDate" type="datetime-local" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || isLoading" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-departureDate">Ngày khởi hành
                          <span [class]="type != 'create' &&  resSchedule.isDelete || isLoading ?'d-none':'text-red'">* {{this.validateScheduleModel.departureDate ? this.validateScheduleModel.departureDate : ''}}</span>
                        </label>
                        <input   (change)="inputChange(); dateChange('departureDate')" [(ngModel)]="resSchedule.departureDateDisplay" class="form-control datepicker" placeholder="Chọn ngày" name="departureDate" id="departureDate" type="datetime-local" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || isLoading" />
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-returnDate">Ngày trở về
                          <span [class]="type != 'create' &&  resSchedule.isDelete || isLoading ?'d-none':'text-red'">* {{this.validateScheduleModel.returnDate ? this.validateScheduleModel.returnDate : ''}}</span>
                        </label>
                        <input   (change)="inputChange(); dateChange('returnDate')" [(ngModel)]="resSchedule.returnDateDisplay" class="form-control datepicker" placeholder="Chọn ngày" name="returnDate" id="returnDate" type="datetime-local" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || isLoading" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6" >
                      <div class="form-group">
                        <label class="form-control-label" for="employeeId">Hướng dẫn viên
                          <span [class]="type != 'create' &&  resSchedule.isDelete || isLoading ?'d-none':'text-red'">* {{this.validateScheduleModel.employeeId ? this.validateScheduleModel.employeeId : ''}}</span>
                          <a *ngIf="resSchedule.employeeId" class="info-icon-cus" (click)="openInfo('employee')" placement="top" ngbTooltip="Lịch trình của hướng dẫn viên">
                            <i class="fa-solid fa-circle-info"></i>
                          </a>
                        </label>
                        <ng-select [items]="resEmployee"
                                    bindLabel="nameEmployee"
                                    bindValue="idEmployee"
                                    [(ngModel)]="resSchedule.employeeId"
                                    [disabled]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || isLoading"
                                    placeholder="Chọn hướng dẫn viên..."
                                    name="employeeId"
                                    id="employeeId"
                                    (change)="inputChange()">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <label class="form-control-label" for="carId">Xe
                          <span [class]="type != 'create' &&  resSchedule.isDelete || isLoading ?'d-none':'text-red'">* {{this.validateScheduleModel.carId ? this.validateScheduleModel.carId : ''}}</span>
                          <a *ngIf="resSchedule.carId" class="info-icon-cus" (click)="openInfo('car')" placement="top" ngbTooltip="Lịch trình của xe">
                            <i class="fa-solid fa-circle-info"></i>
                          </a>
                        </label>
                        <ng-select [items]="resCar"
                                    bindLabel="liscensePlate"
                                    bindValue="idCar"
                                    [(ngModel)]="resSchedule.carId"
                                    [disabled]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || isLoading"
                                    placeholder="Chọn xe..."
                                    name="carId"
                                    id="carId"
                                    (change)="inputChange()">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <label class="form-control-label" for="input-minCapacity">Nơi Khởi Hành
                          <span [class]="type != 'create' &&  resSchedule.isDelete || isLoading ?'d-none':'text-red'">* {{this.validateScheduleModel.departurePlace ? this.validateScheduleModel.departurePlace : ''}}</span>
                        </label>
                        <ng-select [items]="resProvince"
                        bindLabel="nameProvince"
                        bindValue="nameProvince"
                        [(ngModel)]="resSchedule.departurePlace"
                        [disabled]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || isLoading"
                        placeholder="Chọn nơi khởi hành..."
                        name="departurePlace"
                        id="departurePlace"
                        (change)="inputChange()">
                       </ng-select>
                        <!-- <input type="text" name="resSchedule.departurePlace" id="departurePlace" (input)="inputChange()" class="form-control " placeholder="Nhập nơi khởi hành" [(ngModel)]="resSchedule.departurePlace" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete" > -->
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3">
                      <div class="form-group">
                        <label class="form-control-label" for="input-minCapacity">Tối thiểu số người
                          <span [class]="type != 'create' &&  resSchedule.isDelete || isLoading ?'d-none':'text-red'">* {{this.validateScheduleModel.minCapacity ? this.validateScheduleModel.minCapacity : ''}}</span>
                        </label>
                        <input type="text" name="minCapacity" id="minCapacity" (input)="formatInput($any($event).target, 'minCapacity'); inputChange()" class="form-control " placeholder="Nhập số lượng tối thiểu" [(ngModel)]="resSchedule.minCapacity" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || isLoading" >
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <label class="form-control-label" for="input-maxCapacity">Tối đa số người
                          <span [class]="type != 'create' &&  resSchedule.isDelete || isLoading ?'d-none':'text-red'">* {{this.validateScheduleModel.maxCapacity ? this.validateScheduleModel.maxCapacity : ''}}</span>
                        </label>
                        <input type="text" name="maxCapacity" id="maxCapacity" (input)="formatInput($any($event).target, 'maxCapacity'); inputChange()" class="form-control " placeholder="Nhập số lượng tối đa" [(ngModel)]="resSchedule.maxCapacity" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || isLoading" >
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <label class="form-control-label" for="vat">Vat (%)
                          <span [class]="type != 'create' &&  resSchedule.isDelete || isLoading ?'d-none':'text-red'">* {{this.validateScheduleModel.vat ? this.validateScheduleModel.vat : ''}}</span>
                        </label>
                        <input type="text" name="vat" id="vat" (input)="formatInput($any($event).target, 'vat'); inputChange()" min="0" value="10" class="form-control " placeholder="Nhập VAT" [(ngModel)]="resSchedule.vat" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || isLoading" >
                      </div>
                    </div>
                    <div class="col-3">
                      <label class="form-control-label" for="input-toPlace">Lợi nhuận (%)
                        <span [class]="type != 'create' &&  resSchedule.isDelete || isLoading ?'d-none':'text-red'">* {{this.validateScheduleModel.profit ? this.validateScheduleModel.profit : ''}}</span>
                      </label>
                      <input type="text" id="profit" name="profit" (input)="formatInput($any($event).target, 'profit'); inputChange()" class="form-control " placeholder="Nhập lợi nhuận " [(ngModel)]="resSchedule.profit" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || isLoading "  >
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label class="form-control-label" for="description">Mô tả</label>
                        <input type="text" name="description" id="description" (input)="inputChange()" class="form-control " placeholder="Nhập mô tả" [(ngModel)]="resSchedule.description" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || isLoading" >
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="row" style="margin-top: 10px;">
                <fieldset style="border: 1px solid #ced4da; border-radius: 0.375rem; margin-top: 10px">
                  <legend>Khuyến mãi</legend>
                  <div class="row">
                    <div [class]="resSchedule.promotionId == 1 ? 'col' : 'col-6'">
                      <div class="form-group">
                        <label class="form-control-label" for="input-promotionId">Khuyến mãi</label>
                        <ng-select
                        bindLabel="value"
                        bindValue="idPromotion"
                        [(ngModel)]="resSchedule.promotionId"
                        [disabled]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || isLoading"
                        placeholder="Chọn khuyến mãi..."
                        name="promotionId"
                        id="promotionId"
                        [clearable]="false"
                        [searchable]="false"
                        (change)="inputChange(); promotionChange(resSchedule.promotionId)">

                        <!-- <ng-template ng-label-tmp let-item="item">
                          <ng-container *ngIf="resSchedule.promotionId == 1; else elsePromotion">
                            Không có giảm giá
                          </ng-container>
                          <ng-template #elsePromotion>
                            Giảm {{item.value}}%
                          </ng-template>
                        </ng-template> -->
                        <ng-container *ngFor="let promotion of resPromotion">
                          <ng-option *ngIf="promotion.idPromotion > 0"  [value]="promotion.idPromotion">{{promotion.idPromotion == 1?'Không có giảm giá':'Giảm '+ promotion.value +'%'}}</ng-option>
                        </ng-container>
                        <!-- <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                          {{index}}
                          <ng-container *ngIf="index > 0">

                          </ng-container>
                        </ng-template> -->
                       </ng-select>
                      </div>
                    </div>
                    <div class="col-3" *ngIf="resSchedule.promotionId != 1">
                      <div class="form-group">
                        <label class="form-control-label" for="input-timePromotion">Thời gian bắt đầu khuyến mãi</label>
                        <input [(ngModel)]="resSchedule.promotions.fromDateDisplay" class="form-control datepicker" placeholder="Chọn ngày" name="timePromotion" id="timePromotion" type="datetime-local" readonly/>
                      </div>
                    </div>
                    <div class="col-3" *ngIf="resSchedule.promotionId != 1">
                      <div class="form-group">
                        <label class="form-control-label" for="input-timePromotion">Thời gian kết thúc khuyến mãi</label>
                        <input [(ngModel)]="resSchedule.promotions.toDateDisplay" class="form-control datepicker" placeholder="Chọn ngày" name="endTimePromotion" id="endTimePromotion" type="datetime-local" readonly/>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>

              <div class="row"  style="margin-top: 10px;">
                <fieldset class="mt-4" *ngIf="type == 'approve' || type == 'refuse' || type == 'cancelRequire'">
                  <legend>Thông tin người yêu cầu</legend>
                  <div class="row" style="margin-top: -20px;">
                    <div class="col-4">
                      <label class="form-control-label" for="input-address">Mã số</label>
                      <input type="text" id="idUserModify" name="idUserModify" class="form-control " placeholder="Mã người yêu cầu" [(ngModel)]="resSchedule.idUserModify" readonly>
                    </div>
                    <div class="col-4">
                      <label class="form-control-label" for="input-address">Tên</label>
                      <input type="text" id="modifyBy" name="modifyBy" class="form-control " placeholder="Tên người yêu cầu" [(ngModel)]="resSchedule.modifyBy" readonly>
                    </div>
                    <div class="col-4">
                      <label class="form-control-label" for="input-address">Ngày yêu cầu</label>
                      <input type="date" id="modifyDate" name="modifyDate" class="form-control " placeholder="Ngày yêu cầu"  [(ngModel)]="resSchedule.modifyDateDisplay" readonly>
                    </div>
                  </div>
                </fieldset>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink style="font-size: 25px;" #target>Chi phí</a>
            <ng-template ngbNavContent>
              <div class="row" style="margin-top: 10px;">
                <!-- <div class="row align-items-center">
                  <div class="col-12 text-right">
                    <button *ngIf="isChange && type=='detail' && auth.roleId == -1" class="btn btn-md btn-success"  (click)="saveCostTour()">{{type == 'detail' ? "Cập nhật thông tin/ giá":"Thêm"}}</button>
                  </div>
                </div> -->
                <fieldset style="border: 1px solid #ced4da; border-radius: 0.375rem;"><legend>Chi phí ăn uống</legend>
                        <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <label class="form-control-label" for="input-breakfast">Chi phí ăn (₫)
                                <span [class]="type != 'create' &&  resSchedule.isDelete || isLoading ?'d-none':'text-red'">* {{this.validateCostTourModel.breakfast ? this.validateCostTourModel.breakfast : ''}}</span>
                              </label>
                              <input type="text" id="breakfast" name="breakfast" (input)="formatInput($any($event).target, 'breakfast');inputChange() " class="form-control " placeholder="Nhập giá phần ăn" [(ngModel)]="resCostTour.breakfast" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || isLoading" >
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <label class="form-control-label" for="input-water">Chi phí nước (₫)
                                <span [class]="type != 'create' &&  resSchedule.isDelete || isLoading ?'d-none':'text-red'">* {{this.validateCostTourModel.water ? this.validateCostTourModel.water : ''}}</span>
                              </label>
                              <input type="text" id="water" name="water" (input)="formatInput($any($event).target, 'water');inputChange()" class="form-control " placeholder="Nhập giá nước" [(ngModel)]="resCostTour.water" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || isLoading " >
                            </div>
                          </div>
                        </div>
                </fieldset>

                <fieldset style="border: 1px solid #ced4da; border-radius: 0.375rem; margin-top: 10px;"><legend>Chi phí vận hành</legend>
                  <div class="row">
                    <div class="col-3">
                      <label class="form-control-label" for="input-fromPlace">Chi phí xăng (₫/lít)
                        <span [class]="type != 'create' &&  resSchedule.isDelete || isLoading ?'d-none':'text-red'">* {{this.validateCostTourModel.feeGas ? this.validateCostTourModel.feeGas : ''}}</span>
                      </label>
                      <input type="text" id="feeGas" name="feeGas" (input)="formatInput($any($event).target, 'feeGas'); inputChange()" class="form-control " placeholder="Nhập chi phí xăng " [(ngModel)]="resCostTour.feeGas" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || isLoading" >
                    </div>
                    <div class="col-3">
                      <label class="form-control-label" for="input-toPlace">Chi phí cầu đường (₫)
                        <span [class]="type != 'create' &&  resSchedule.isDelete || isLoading ?'d-none':'text-red'">* {{this.validateCostTourModel.tolls ? this.validateCostTourModel.tolls : ''}}</span>
                      </label>
                      <input type="text" id="tolls" name="tolls" (input)="formatInput($any($event).target, 'tolls');inputChange()" class="form-control " placeholder="Nhập chi phí bán " [(ngModel)]="resCostTour.tolls" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || isLoading" >
                    </div>
                    <div class="col-3">
                      <label class="form-control-label" for="input-toPlace">Chi phí bảo hiểm (₫)
                        <span [class]="type != 'create' &&  resSchedule.isDelete || isLoading ?'d-none':'text-red'">* {{this.validateCostTourModel.insuranceFee ? this.validateCostTourModel.insuranceFee : ''}}</span>
                      </label>
                      <input type="text" id="insuranceFee" name="insuranceFee" (input)="formatInput($any($event).target, 'insuranceFee');inputChange()" class="form-control " placeholder="Nhập chi phí bảo hiểm" [(ngModel)]="resCostTour.insuranceFee" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || isLoading" >
                    </div>
                    <div class="col-3">
                      <label class="form-control-label" for="input-toPlace">Khoảng cách (Km)
                        <span [class]="type != 'create' &&  resSchedule.isDelete || isLoading ?'d-none':'text-red'">* {{this.validateCostTourModel.distance ? this.validateCostTourModel.distance : ''}}</span>
                      </label>
                      <input type="text" id="distance" name="distance" (input)="formatInput($any($event).target, 'distance'); inputChange()" class="form-control " placeholder="Nhập khoảng cách " [(ngModel)]="resCostTour.distance" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || isLoading" >
                    </div>
                  </div>
                  <div class="row" style="margin-top: 10px;">
                    <div class="col-3">
                      <label class="form-control-label" for="input-toPlace">Chi phí bán tour (₫)
                        <span [class]="type != 'create' &&  resSchedule.isDelete || isLoading ?'d-none':'text-red'">* {{this.validateCostTourModel.sellCost ? this.validateCostTourModel.sellCost : ''}}</span>
                      </label>
                      <input type="text" id="sellCost" name="sellCost" (input)="formatInput($any($event).target, 'sellCost');inputChange()" class="form-control " placeholder="Nhập chi phí bán tour " [(ngModel)]="resCostTour.sellCost" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || isLoading" >
                    </div>
                    <div class="col-3">
                      <label class="form-control-label" for="input-toPlace">Khấu hao (₫)
                        <span [class]="type != 'create' &&  resSchedule.isDelete || isLoading ?'d-none':'text-red'">* {{this.validateCostTourModel.depreciation ? this.validateCostTourModel.depreciation : ''}}</span>
                      </label>
                      <input type="text" id="depreciation" name="depreciation" (input)="formatInput($any($event).target, 'depreciation');inputChange()" class="form-control " placeholder="Nhập khấu hao " [(ngModel)]="resCostTour.depreciation" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || isLoading" >
                    </div>
                    <div class="col-3">
                      <label class="form-control-label" for="input-toPlace">Chi phí khác (₫)
                        <!-- <span [class]="type != 'create' &&  resSchedule.isDelete || isLoading ?'d-none':'text-red'">* {{this.validateCostTourModel.otherPrice ? this.validateCostTourModel.otherPrice : ''}}</span> -->
                      </label>
                      <input type="text" id="otherPrice" name="otherPrice" (input)="formatInput($any($event).target, 'otherPrice');inputChange()" class="form-control " placeholder="Nhập chi phí khác " [(ngModel)]="resCostTour.otherPrice" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || isLoading" >
                    </div>
                  </div>

                </fieldset>

                <fieldset style="border: 1px solid #ced4da; border-radius: 0.375rem; margin-top: 10px;"><legend>Dịch vụ</legend>
                  <div class="row">
                    <div class="col-3">
                      <div class="form-group">
                        <label class="form-control-label" for="employeeId">Khách sạn
                          <span [class]="type != 'create' &&  resSchedule.isDelete || isLoading ?'d-none':'text-red'">* {{this.validateCostTourModel.hotelId ? this.validateCostTourModel.hotelId : ''}}</span>
                        </label>
                        <ng-select [items]="resHotel"
                                    bindLabel="name"
                                    bindValue="idHotel"
                                    [(ngModel)]="resCostTour.hotelId"
                                    [disabled]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || isLoading"
                                    placeholder="Chọn khách sạn..."
                                    name="hotelId"
                                    id="hotelId"
                                    (change)="inputChange()">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <label class="form-control-label" for="carId">Nhà hàng
                          <span [class]="type != 'create' &&  resSchedule.isDelete || isLoading ?'d-none':'text-red'">* {{this.validateCostTourModel.restaurantId ? this.validateCostTourModel.restaurantId : ''}}</span>
                        </label>
                        <ng-select [items]="resRestaurant"
                                    bindLabel="name"
                                    bindValue="idRestaurant"
                                    [(ngModel)]="resCostTour.restaurantId"
                                    [disabled]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || isLoading"
                                    placeholder="Chọn nhà hàng..."
                                    name="restaurantId"
                                    id="restaurantId"
                                    (change)="inputChange()">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <label class="form-control-label" for="carId">Địa điểm
                          <span [class]="type != 'create' &&  resSchedule.isDelete || isLoading ?'d-none':'text-red'">* {{this.validateCostTourModel.placeId ? this.validateCostTourModel.placeId : ''}}</span>
                        </label>
                        <ng-select [items]="resPlace"
                                    bindLabel="name"
                                    bindValue="idPlace"
                                    [(ngModel)]="resCostTour.placeId"
                                    [disabled]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || isLoading"
                                    placeholder="Chọn địa điểm..."
                                    name="placeId"
                                    id="placeId"
                                    (change)="inputChange()">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-3">
                      <label class="form-control-label" for="input-toPlace">Ngày lễ
                        <span [class]="type != 'create' &&  resSchedule.isDelete || isLoading ?'d-none':'text-red'">* {{this.validateCostTourModel.isHoliday ? this.validateCostTourModel.isHoliday : ''}}</span>
                      </label>
                      <ng-select [items]="isHoliday"
                      bindLabel="name"
                      bindValue="id"
                      [(ngModel)]="resCostTour.isHoliday"
                      [disabled]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || isLoading"
                      placeholder="Kích hoạt..."
                      name="isHoliday"
                      id="isHoliday"
                      (change)="inputChange()">
                  </ng-select>
                    </div>
                  </div>
                </fieldset>

                <fieldset *ngIf="type != 'create'" style="border: 1px solid #ced4da; border-radius: 0.375rem; margin-top: 10px;"><legend>Tổng chi phí</legend>
                  <div class="row">
                    <div class="col-5">
                      <h4>Các chi phí (không bao gồm dịch vụ):</h4>
                    </div>
                    <div class="col-7 text-right">
                      <h2>{{resSchedule.totalCostTourNotService | formatPriceVi}}₫</h2>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-5">
                      <h4>Tổng chi phí</h4>
                    </div>
                    <div class="col-7 text-right">
                      <h2>{{resSchedule.finalPrice | formatPriceVi}}₫</h2>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-5">
                      <h4>Tổng chi phí (Ngày lễ)</h4>
                    </div>
                    <div class="col-7 text-right">
                      <h2>{{resSchedule.finalPriceHoliday | formatPriceVi}}₫</h2>
                    </div>
                  </div>
                </fieldset>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="3" *ngIf="resTimeline || resTimelinelist">
            <a ngbNavLink style="font-size: 25px;">Timeline</a>
            <ng-template ngbNavContent>
              <fieldset style="border: 1px solid #ced4da; border-radius: 0.375rem; margin-top: 10px;" *ngIf="type == 'create' || type == 'detail'"><legend>TimeLine</legend>
                <div class="row">
                  <div class="row-12">
                    <div class="form-group">
                      <label class="form-control-label" for="">Tiêu đề
                        <span [class]="type != 'create' &&  resSchedule.isDelete || isLoading ?'d-none':'text-red'">* {{this.validateTimeline.title ? this.validateTimeline.title : ''}}</span>
                      </label>
                      <input class="form-control" (input)="inputChangeTimeline()" [(ngModel)]="resTimeline.title" name="title" id="description"  rows="4" placeholder="Nhập tiêu đề timeline" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || isLoading"/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-fromTime">Chọn thời gian bắt đầu
                        <span [class]="type != 'create' &&  resSchedule.isDelete || isLoading ?'d-none':'text-red'">* {{this.validateTimeline.fromTime ? this.validateTimeline.fromTime : ''}}</span>
                      </label>
                      <input   (input)="inputChangeTimeline(); dateChangeTimeLine('fromTime') " [(ngModel)]="resTimeline.fromTimeDisplay" class="form-control datepicker" placeholder="Chọn thời gian" name="fromTime" id="fromTime" type="datetime-local" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || isLoading" />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-toTime">Chọn thời gian kết thúc
                        <span [class]="type != 'create' &&  resSchedule.isDelete || isLoading ?'d-none':'text-red'">* {{this.validateTimeline.toTime ? this.validateTimeline.toTime : ''}}</span>
                      </label>
                      <input   (input)="inputChangeTimeline(); dateChangeTimeLine('toTime')" [(ngModel)]="resTimeline.toTimeDisplay" class="form-control datepicker" placeholder="Chọn ngày" name="toTime" id="toTime" type="datetime-local" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || isLoading" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label class="form-control-label" for="">Mô tả nội dung timeline
                        <span [class]="type != 'create' &&  resSchedule.isDelete || isLoading ?'d-none':'text-red'">* {{this.validateTimeline.description ? this.validateTimeline.description : ''}}</span>
                      </label>
                      <!-- <textarea class="form-control" (input)="inputChangeTimeline()" [(ngModel)]="resTimeline.description" name="description" id="description"  rows="4" placeholder="Nhập thông tin timeline" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || isLoading"></textarea> -->


                      <div class="ckeditorContainer">
                        <ckeditor #editor [editor]="Editor" [(ngModel)]="resTimeline.description" [config]="config" id="description" (change)="inputChangeTimeline()"  [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || isLoading"></ckeditor>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="type != 'refuse' && type != 'cancelRequire' && type != 'approve' && !resSchedule.isDelete || isLoading">
                    <div class="col-12 text-right">
                      <button class="btn btn-lg btn-primary" *ngIf="!isChangeTimeline && isTimeline" (click)="btnResetTimeline()">Quay về</button>
                      <button class="btn btn-lg btn-info" *ngIf="isChangeTimeline" (click)="btnBackup()">Khôi phục dữ liệu ban đầu</button>
                      <button class="btn btn-lg btn-success"  (click)="btnAddTimeline()">{{isTimeline ? 'Sửa' : 'Thêm'}}</button>
                    </div>
                </div>
              </fieldset>

              <fieldset style="border: 1px solid #ced4da; border-radius: 0.375rem; margin-top: 10px;"><legend>Danh sách TimeLine</legend>
                <div class="row" *ngIf="resTimelinelist">
                  <div class="row" *ngFor="let item of resTimelinelist; let i = index">
                    <ngb-accordion [closeOthers]="true" activeIds="static-1" >
                      <ngb-panel class="mt-2" id="static-1" title="Ngày {{i+1}} - {{item.title}}">

                        <ng-template ngbPanelContent>
                          <div class="row">
                            <div class="col-12 text-right">
                             Từ <b>{{item.fromTime | formatFromUnixTimestampToFullDateTimeView}}</b> đến <b>{{item.toTime| formatFromUnixTimestampToFullDateTimeView}}</b>
                            </div>
                          </div>
                          <fieldset>
                            <legend>Mô Tả</legend>

                            <ckeditor [editor]="Editor" [config]="{toolbar: []}" data="{{item.description}}" [disabled]="true"></ckeditor>
                          </fieldset>
                            <div class="text-right" style="margin-top: 1rem;" *ngIf="type != 'refuse' && type != 'cancelRequire' && type != 'approve' && !resSchedule.isDelete || isLoading">
                              <button class="btn btn-sm btn-warning" (click)="btnUpdateTimeline(i)">Sửa</button>
                              <button class="btn btn-sm btn-danger" (click)="btnDeleteTimeline(i, item)">Xóa</button>
                            </div>

                        </ng-template>
                      </ngb-panel>
                    </ngb-accordion>
                    <hr>
                  </div>
                </div>
              </fieldset>
            </ng-template>
          </li>

        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
        <div class="row align-items-center">
          <div class="col-12 text-right">
            <ng-container *ngIf="type != 'approve' && type != 'refuse' && type != 'cancelRequire'; else elseApprove">
              <div class="mt-3 row align-items-center">
                <div class="col-12 text-right">
                  <button  *ngIf="type == 'detail' && !resSchedule.isDelete" class="btn btn-lg btn-danger" data-bs-toggle="modal" data-bs-target="#deleteScheduleModal" (click)="getParentData('detail')" [disabled]="isLoading">Xóa</button>
                  <button *ngIf="isChange || isChangeTimelineList && type == 'detail'" class="btn btn-lg btn-info" (click)="backup()" [disabled]="isLoading">Khôi phục</button>
                  <button *ngIf="isChange || isChangeTimelineList" class="btn btn-lg btn-success"  (click)="isLoading=true;save()" [disabled]="isLoading">{{isLoading?'Đang xử lý...':active == 3 ? type == 'create' ? 'Thêm' : 'Lưu' : 'Kế tiếp'}}</button>
                  <button *ngIf="resSchedule.isDelete" (click)="getParentData('detail')" data-bs-toggle="modal" data-bs-target="#restoreScheduleModal" class="btn btn-lg btn-warning" [disabled]="isLoading">Khôi phục lịch trình</button>
                </div>
              </div>
            </ng-container>
            <ng-template #elseApprove>
              <div class="row mt-4" style="border-top: 1.5px solid; padding-top: 20px;">
                <div [class]="auth.roleId == -1 && auth.id == resSchedule.idUserModify ? 'col-4' : 'col-6'"
                [style]="auth.roleId == -1 && auth.id == resSchedule.idUserModify ? 'text-align: end' : 'padding-left: 8%; text-align: center'"
                *ngIf="auth.roleId == -1">
                  <button class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#approveScheduleModal" (click)="getParentData('approve')" [disabled]="isLoading">Phê duyệt</button>
                </div>
                <div [class]="auth.roleId == -1 && auth.id == resSchedule.idUserModify ? 'col-4' : 'col-6'"
                 style="text-align: center" *ngIf="auth.roleId == -1">
                  <button class="btn btn-warning"  data-bs-toggle="modal" data-bs-target="#approveScheduleModal" (click)="getParentData('refuse')" [disabled]="isLoading">Từ chối phê duyệt</button>
                </div>
                <div [class]="auth.roleId != -1 && auth.id == resSchedule.idUserModify ? 'col' : 'col-4'"
                [style]="auth.roleId != -1 && auth.id == resSchedule.idUserModify ? 'padding-right: 4.9%; text-align: end' : ''"
                *ngIf="auth.id == resSchedule.idUserModify">
                  <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#approveScheduleModal" (click)="getParentData('cancelRequire')" [disabled]="isLoading">Hủy yêu cầu phê duyệt</button>
                </div>
              </div>
            </ng-template>
          </div>
       </div>
        <hr>
      </form>
    </div>
  </ng-container>
</div>


<!-- <div class="modal fade" id="deleteScheduleIdTourModal" tabindex="-1" aria-labelledby="deleteScheduleIdTourModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteScheduleIdTourModal">Xác nhận</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="resSchedule">
        Bạn có chắc muốn xóa [<span class="text-red">{{resSchedule.nameTour}}</span>] !
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="delete()">Xóa</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Không</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="restoreScheduleIdTourModal" tabindex="-1" aria-labelledby="restoreScheduleIdTourModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="restoreScheduleIdTourModal">Xác nhận</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="resSchedule">
        Bạn có chắc muốn khôi phục [<span class="text-red">{{resSchedule.nameTour}}</span>] !
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="restoreSchedule()">Khôi phục</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Không</button>
      </div>
    </div>
  </div>
</div> -->
<div #fade class="fade_cus"></div>
<div #card class="card-cus">
  <div class="tools">
    <div class="circle">
      <span class="red box"></span>
    </div>
    <div class="circle">
      <span class="yellow box"></span>
    </div>
    <div class="circle">
      <span class="green box"></span>
    </div>
    <button type="button" style="margin-left: 88%;" class="btn-close" (click)="closeInfo()"></button>
  </div>
  <div class="card__content">
    <div class="table-responsive">
      <!-- Projects table -->
      <table class="table align-items-center table-flush">
        <ng-container *ngIf="!isOpenInfoCar; else elseTemplate">
          <thead class="thead-light">
            <tr>
              <th scope="col" style="width: 6%;"></th>
              <th scope="col" style="width: 35%;">Tên tour</th>
              <th scope="col" style="width: 15%;">Xe</th>
              <th scope="col">Ngày khởi hành</th>
              <th scope="col">Ngày về</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let schedule of scheduleOfCar">
              <td style="width: 6%;">
                {{schedule.rowNum}}
              </td>
              <td style="width: 35%; text-align: unset;">
                {{schedule.tour.nameTour}}
              </td>
              <td style="width: 15%;">
                {{schedule.car.liscensePlate}}
              </td>
              <td>
                {{schedule.departureDate | formatFromUnixTimestampToFullDateTimeView}}
              </td>
              <td>
                {{schedule.returnDate | formatFromUnixTimestampToFullDateTimeView}}
              </td>
            </tr>
          </tbody>
        </ng-container>
        <ng-template #elseTemplate>
          <thead class="thead-light">
            <tr>
              <th scope="col" style="width: 6%;"></th>
              <th scope="col" style="width: 35%;">Tên tour</th>
              <th scope="col" style="width: 15%;">Hướng dẫn viên</th>
              <th scope="col">Ngày khởi hành</th>
              <th scope="col">Ngày về</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let schedule of scheduleOfEmployee">
              <td style="width: 6%;">
                {{schedule.rowNum}}
              </td>
              <td style="width: 35%; text-align: unset;">
                {{schedule.tour.nameTour}}
              </td>
              <td style="width: 15%;">
                {{schedule.employee.nameEmployee}}
              </td>
              <td>
                {{schedule.departureDate | formatFromUnixTimestampToFullDateTimeView}}
              </td>
              <td>
                {{schedule.returnDate | formatFromUnixTimestampToFullDateTimeView}}
              </td>
            </tr>
          </tbody>
        </ng-template>


        <nav aria-label="Page navigation example" style="width: 100%; margin-left: 0;" class="row">
          <ul class="pagination justify-content-end" style="border-top: 1px solid; border-radius: unset;">
            <li class="page-item">
              <a href="javascript:void(0)" tabindex="-1" (click)="btnPrev == true?selectPage(i.value, 'prevAll'):''">
                <span style="font-size: 25px;" >&laquo;</span>
              </a>
            </li>
            <li class="page-item">
              <a href="javascript:void(0)" tabindex="-1" (click)="btnPrev == true?selectPage(i.value, 'prev'):''">
                <span style="font-size: 25px;" >&lsaquo;</span>
              </a>
            </li>
            <li class="page-item" style="margin-right: 10px; margin-top: 10px;"><h5>Trang</h5></li>
            <input type="text" #i  inputmode="numeric"
            pattern="[0-9]*"
            class="form-control custom-pages-input"
            id="paginationInput"
            [(ngModel)]="pageIndex"
            (keyup.enter)="selectPage(i.value, '')"
            (blur)="selectPage(i.value, '')"
            (input)="formatInput($any($event).target)"
            style="width: 2.5rem;
            margin-top: 0.8rem;
            height: 2rem;
            text-align: center;">
            <li class="page-item" style="margin-left: 10px; margin-top: 10px;"><h5>trên {{pageCount}}</h5></li>
            <li class="page-item" >
              <a href="javascript:void(0)" (click)="btnNext == true?selectPage(i.value, 'next'):''">
                <span style="font-size: 25px;"  >&rsaquo;</span>
              </a>
            </li>
            <li class="page-item">
              <a href="javascript:void(0)" (click)="btnNext == true?selectPage(i.value, 'nextAll'):''">
                <span style="font-size: 25px;" >&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </table>
    </div>
  </div>
</div>

