<div class="modal-header bg-secondary">
  <h1 class="modal-title fs-5" id="gridDataLabel">Thông tin</h1>
  <button type="button" class="btn-close btn-danger" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
  <ng-container *ngIf="resSchedule">
    <div class="container-fluid" >
      <form>
        <ul ngbNav #nav="ngbNav" [(activeId)]="active"  class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink style="font-size: 25px;">Lịch trình</a>
            <ng-template ngbNavContent>
              <div class="row">
                <fieldset style="border: 1px solid #ced4da; border-radius: 0.375rem;">
                  <legend>Chi tiết lịch trình</legend>
      
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="employeeId">Chọn nhân viên
                          <span [class]="type != 'create' &&  resSchedule.isDelete ?'d-none':'text-red'">* {{this.validateScheduleModel.employeeId ? this.validateScheduleModel.employeeId : ''}}</span>
                        </label>
                        <ng-select [items]="resEmployee"
                                    bindLabel="nameEmployee"
                                    bindValue="idEmployee"
                                    [(ngModel)]="resSchedule.employeeId"
                                    [disabled]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete"
                                    placeholder="Chọn nhân viên..."
                                    name="employeeId"
                                    id="employeeId"
                                    (change)="inputChange()">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="carId">Chọn xe
                          <span [class]="type != 'create' &&  resSchedule.isDelete ?'d-none':'text-red'">* {{this.validateScheduleModel.carId ? this.validateScheduleModel.carId : ''}}</span>
                        </label>
                        <ng-select [items]="resCar"
                                    bindLabel="liscensePlate"
                                    bindValue="idCar"
                                    [(ngModel)]="resSchedule.carId"
                                    [disabled]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete"
                                    placeholder="Chọn xe..."
                                    name="carId"
                                    id="carId"
                                    (change)="inputChange()">
                        </ng-select>
                      </div>
                    </div>
      
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-beginDate">Chọn ngày bắt đầu bán vé
                          <span [class]="type != 'create' &&  resSchedule.isDelete ?'d-none':'text-red'">* {{this.validateScheduleModel.beginDate ? this.validateScheduleModel.beginDate : ''}}</span>
                        </label>
                        <input   (change)=" inputChange(); dateChange() " [(ngModel)]="resSchedule.beginDateDisplay" class="form-control datepicker" placeholder="Chọn ngày" name="beginDate" id="beginDate" type="date" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete" />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-endDate">Chọn ngày kết thúc bán vé
                          <span [class]="type != 'create' &&  resSchedule.isDelete ?'d-none':'text-red'">* {{this.validateScheduleModel.endDate ? this.validateScheduleModel.endDate : ''}}</span>
                        </label>
                        <input   (change)="inputChange(); dateChange()" [(ngModel)]="resSchedule.endDateDisplay" class="form-control datepicker" placeholder="Chọn ngày" name="endDate" id="endDate" type="date" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-departureDate">Chọn ngày khởi hành
                          <span [class]="type != 'create' &&  resSchedule.isDelete ?'d-none':'text-red'">* {{this.validateScheduleModel.departureDate ? this.validateScheduleModel.departureDate : ''}}</span>
                        </label>
                        <input   (change)="inputChange(); dateChange()" [(ngModel)]="resSchedule.departureDateDisplay" class="form-control datepicker" placeholder="Chọn ngày" name="departureDate" id="departureDate" type="date" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete" />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-returnDate">Chọn ngày trở về
                          <span [class]="type != 'create' &&  resSchedule.isDelete ?'d-none':'text-red'">* {{this.validateScheduleModel.returnDate ? this.validateScheduleModel.returnDate : ''}}</span>
                        </label>
                        <input   (change)="inputChange(); dateChange()" [(ngModel)]="resSchedule.returnDateDisplay" class="form-control datepicker" placeholder="Chọn ngày" name="returnDate" id="returnDate" type="date" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-2">
                      <div class="form-group">
                        <label class="form-control-label" for="input-minCapacity">Tối thiểu số người
                          <span [class]="type != 'create' &&  resSchedule.isDelete ?'d-none':'text-red'">* {{this.validateScheduleModel.minCapacity ? this.validateScheduleModel.minCapacity : ''}}</span>
                        </label>
                        <input type="number" name="minCapacity" id="minCapacity" min="0" (input)="inputChange()" class="form-control form-control-alternative" placeholder="Nhập số lượng tối thiểu" [(ngModel)]="resSchedule.minCapacity" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete" >
                      </div>
                    </div>
                    <div class="col-lg-2">
                      <div class="form-group">
                        <label class="form-control-label" for="input-maxCapacity">Tối đa số người
                          <span [class]="type != 'create' &&  resSchedule.isDelete ?'d-none':'text-red'">* {{this.validateScheduleModel.maxCapacity ? this.validateScheduleModel.maxCapacity : ''}}</span>
                        </label>
                        <input type="number" name="maxCapacity" id="maxCapacity" min="0" (input)="inputChange()" class="form-control form-control-alternative" placeholder="Nhập số lượng tối đa" [(ngModel)]="resSchedule.maxCapacity" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete" >
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <div class="form-group">
                        <label class="form-control-label" for="input-minCapacity">Nơi Khởi Hành
                          <span [class]="type != 'create' &&  resSchedule.isDelete ?'d-none':'text-red'">* {{this.validateScheduleModel.departurePlace ? this.validateScheduleModel.departurePlace : ''}}</span>
                        </label>
                        <input type="text" name="resSchedule.departurePlace" id="departurePlace" (input)="inputChange()" class="form-control form-control-alternative" placeholder="Nhập nơi khởi hành" [(ngModel)]="resSchedule.departurePlace" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete" >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-10">
                      <div class="form-group">
                        <label class="form-control-label" for="description">Mô tả
                          <span [class]="type != 'create' &&  resSchedule.isDelete ?'d-none':'text-red'">* {{this.validateScheduleModel.description ? this.validateScheduleModel.description : ''}}</span>
                        </label>
                        <input type="text" name="description" id="description" (input)="inputChange()" class="form-control form-control-alternative" placeholder="Nhập mô tả" [(ngModel)]="resSchedule.description" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete" >
                      </div>
                    </div>
                    <div class="col-lg-2">
                      <div class="form-group">
                        <label class="form-control-label" for="vat">Vat
                          <span [class]="type != 'create' &&  resSchedule.isDelete ?'d-none':'text-red'">* {{this.validateScheduleModel.vat ? this.validateScheduleModel.vat : ''}}</span>
                        </label>
                        <input type="number" name="vat" id="vat" (input)="inputChange()" min="0" class="form-control form-control-alternative" placeholder="Nhập VAT" [(ngModel)]="resSchedule.vat" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete" >
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="row" style="margin-top: 10px;">
                <fieldset style="border: 1px solid #ced4da; border-radius: 0.375rem; margin-top: 10px">
                  <legend>Khuyến mãi</legend>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-promotionId">Chọn khuyến mãi
                          <span [class]="type != 'create' &&  resSchedule.isDelete ?'d-none':'text-red'">* {{this.validateScheduleModel.promotionId ? this.validateScheduleModel.promotionId : ''}}</span>
                        </label>
                        <ng-select [items]="resPromotion"
                        bindLabel="value"
                        bindValue="idPromotion"
                        [(ngModel)]="resSchedule.promotionId"
                        [disabled]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete"
                        placeholder="Chọn khuyến mãi..."
                        name="promotionId"
                        id="promotionId"
                        (change)="inputChange()">
                       </ng-select>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-timePromotion">Chọn thời gian khuyến mãi
                          <span [class]="type != 'create' &&  resSchedule.isDelete ?'d-none':'text-red'">* {{this.validateScheduleModel.timePromotion ? this.validateScheduleModel.timePromotion : ''}}</span>
                        </label>
                        <input   (change)="inputChange(); dateChange()" [(ngModel)]="resSchedule.timePromotionDisplay" class="form-control datepicker" placeholder="Chọn ngày" name="timePromotion" id="timePromotion" type="date"  [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete"/>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink style="font-size: 25px;" #target>Chi phí</a>
            <ng-template ngbNavContent>
              <div class="row" style="margin-top: 10px;" *ngIf="resCostTour">
                <div class="row align-items-center">
                  <div class="col-12 text-right">
                    <button *ngIf="isChange && type=='detail' && auth.roleId == 3" class="btn btn-md btn-success"  (click)="saveCostTour()">{{type == 'detail' ? "Cập nhật thông tin/ giá":"Thêm"}}</button>     
                  </div>
                </div>
                <fieldset style="border: 1px solid #ced4da; border-radius: 0.375rem;"><legend>Chi phí ăn uống</legend>     
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="form-group">
                              <label class="form-control-label" for="input-breakfast">Chi phí ăn
                                <span [class]="type != 'create' &&  resSchedule.isDelete ?'d-none':'text-red'">* {{this.validateCostTourModel.breakfast ? this.validateCostTourModel.breakfast : ''}}</span>
                              </label>
                              <input type="text" id="breakfast" name="breakfast" (input)="inputChange()" class="form-control form-control-alternative" placeholder="Nhập giá phần ăn" [(ngModel)]="resCostTour.breakfast" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || auth.roleId != 3" >
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="form-group">
                              <label class="form-control-label" for="input-water">Chi phí nước
                                <span [class]="type != 'create' &&  resSchedule.isDelete ?'d-none':'text-red'">* {{this.validateCostTourModel.water ? this.validateCostTourModel.water : ''}}</span>
                              </label>
                              <input type="text" id="water" name="water" (input)="inputChange()" class="form-control form-control-alternative" placeholder="Nhập giá nước" [(ngModel)]="resCostTour.water" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || auth.roleId != 3" >
                            </div>
                          </div>
                        </div>
                </fieldset>

                <fieldset style="border: 1px solid #ced4da; border-radius: 0.375rem; margin-top: 10px;"><legend>Chi phí vận hành</legend>
                  <div class="row">
                    <div class="col-lg-3">
                      <label class="form-control-label" for="input-fromPlace">Chi phí xăng
                        <span [class]="type != 'create' &&  resSchedule.isDelete ?'d-none':'text-red'">* {{this.validateCostTourModel.feeGas ? this.validateCostTourModel.feeGas : ''}}</span>
                      </label>
                      <input type="text" id="feeGas" name="feeGas" (input)="inputChange()" class="form-control form-control-alternative" placeholder="Nhập chi phí xăng " [(ngModel)]="resCostTour.feeGas" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || auth.roleId != 3" >
                    </div>
                    <div class="col-lg-3">
                      <label class="form-control-label" for="input-toPlace">Chi phí cầu đường
                        <span [class]="type != 'create' &&  resSchedule.isDelete ?'d-none':'text-red'">* {{this.validateCostTourModel.tolls ? this.validateCostTourModel.tolls : ''}}</span>
                      </label>
                      <input type="text" id="tolls" name="tolls" (input)="inputChange()" class="form-control form-control-alternative" placeholder="Nhập chi phí bán " [(ngModel)]="resCostTour.tolls" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || auth.roleId != 3" >
                    </div>
                    <div class="col-lg-3">
                      <label class="form-control-label" for="input-toPlace">Chi phí bảo hiểm
                        <span [class]="type != 'create' &&  resSchedule.isDelete ?'d-none':'text-red'">* {{this.validateCostTourModel.insuranceFee ? this.validateCostTourModel.insuranceFee : ''}}</span>
                      </label>
                      <input type="text" id="insuranceFee" name="insuranceFee" (input)="inputChange()" class="form-control form-control-alternative" placeholder="Nhập chi phí bảo hiểm" [(ngModel)]="resCostTour.insuranceFee" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || auth.roleId != 3" >
                    </div>
                    <div class="col-lg-3">
                      <label class="form-control-label" for="input-toPlace">khoảng cách
                        <span [class]="type != 'create' &&  resSchedule.isDelete ?'d-none':'text-red'">* {{this.validateCostTourModel.distance ? this.validateCostTourModel.distance : ''}}</span>
                      </label>
                      <input type="text" id="distance" name="distance" (input)="inputChange()" class="form-control form-control-alternative" placeholder="Nhập khoảng cách " [(ngModel)]="resCostTour.distance" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || auth.roleId != 3" >
                    </div>
                  </div>
                  <div class="row" style="margin-top: 10px;">
                    <div class="col-lg-3">
                      <label class="form-control-label" for="input-toPlace">Số lượng khách dự kiến
                        <span [class]="type != 'create' &&  resSchedule.isDelete ?'d-none':'text-red'">* {{this.validateCostTourModel.cusExpected ? this.validateCostTourModel.cusExpected : ''}}</span>
                      </label>
                      <input type="text" id="cusExpected" name="cusExpected" (input)="inputChange()" class="form-control form-control-alternative" placeholder="Nhập số khách dự kiến " [(ngModel)]="resCostTour.cusExpected" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || auth.roleId != 3"  >
                    </div>
                    <div class="col-lg-3">
                      <label class="form-control-label" for="input-toPlace">Chi phí bán tour
                        <span [class]="type != 'create' &&  resSchedule.isDelete ?'d-none':'text-red'">* {{this.validateCostTourModel.sellCost ? this.validateCostTourModel.sellCost : ''}}</span>
                      </label>
                      <input type="text" id="sellCost" name="sellCost" (input)="inputChange()" class="form-control form-control-alternative" placeholder="Nhập chi phí bán tour " [(ngModel)]="resCostTour.sellCost" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete|| auth.roleId != 3" >
                    </div>
                    <div class="col-lg-3">
                      <label class="form-control-label" for="input-toPlace">Khấu hao
                        <span [class]="type != 'create' &&  resSchedule.isDelete ?'d-none':'text-red'">* {{this.validateCostTourModel.depreciation ? this.validateCostTourModel.depreciation : ''}}</span>
                      </label>
                      <input type="text" id="depreciation" name="depreciation" (input)="inputChange()" class="form-control form-control-alternative" placeholder="Nhập khấu hao " [(ngModel)]="resCostTour.depreciation" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || auth.roleId != 3" >
                    </div>
                    <div class="col-lg-3">
                      <label class="form-control-label" for="input-toPlace">Chi phí khác
                        <span [class]="type != 'create' &&  resSchedule.isDelete ?'d-none':'text-red'">* {{this.validateCostTourModel.otherPrice ? this.validateCostTourModel.otherPrice : ''}}</span>
                      </label>
                      <input type="text" id="otherPrice" name="otherPrice" (input)="inputChange()" class="form-control form-control-alternative" placeholder="Nhập chi phí khác " [(ngModel)]="resCostTour.otherPrice" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || auth.roleId != 3" >
                    </div>
                  </div>
                  
                </fieldset>

                <fieldset style="border: 1px solid #ced4da; border-radius: 0.375rem; margin-top: 10px;"><legend>Dịch vụ</legend>
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label class="form-control-label" for="employeeId">Khách sạn
                          <span [class]="type != 'create' &&  resSchedule.isDelete ?'d-none':'text-red'">* {{this.validateCostTourModel.hotelId ? this.validateCostTourModel.hotelId : ''}}</span>
                        </label>
                        <ng-select [items]="resHotel"
                                    bindLabel="name"
                                    bindValue="idHotel"
                                    [(ngModel)]="resCostTour.hotelId"
                                    [disabled]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || auth.roleId != 3"
                                    placeholder="Chọn khách sạn..."
                                    name="hotelId"
                                    id="hotelId"
                                    (change)="inputChange()">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label class="form-control-label" for="carId">Nhà hàng
                          <span [class]="type != 'create' &&  resSchedule.isDelete ?'d-none':'text-red'">* {{this.validateCostTourModel.restaurantId ? this.validateCostTourModel.restaurantId : ''}}</span>
                        </label>
                        <ng-select [items]="resRestaurant"
                                    bindLabel="name"
                                    bindValue="idRestaurant"
                                    [(ngModel)]="resCostTour.restaurantId"
                                    [disabled]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || auth.roleId != 3"
                                    placeholder="Chọn nhà hàng..."
                                    name="restaurantId"
                                    id="restaurantId"
                                    (change)="inputChange()">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label class="form-control-label" for="carId">Địa điểm
                          <span [class]="type != 'create' &&  resSchedule.isDelete ?'d-none':'text-red'">* {{this.validateCostTourModel.placeId ? this.validateCostTourModel.placeId : ''}}</span>
                        </label>
                        <ng-select [items]="resPlace"
                                    bindLabel="name"
                                    bindValue="idPlace"
                                    [(ngModel)]="resCostTour.placeId"
                                    [disabled]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || auth.roleId != 3"
                                    placeholder="Chọn địa điểm..."
                                    name="placeId"
                                    id="placeId"
                                    (change)="inputChange()">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <label class="form-control-label" for="input-toPlace">Ngày lễ
                        <span [class]="type != 'create' &&  resSchedule.isDelete ?'d-none':'text-red'">* {{this.validateCostTourModel.isHoliday ? this.validateCostTourModel.isHoliday : ''}}</span>
                      </label>
                      <ng-select [items]="isHoliday"
                      bindLabel="name"
                      bindValue="id"
                      [(ngModel)]="resCostTour.isHoliday"
                      [disabled]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resSchedule.isDelete || auth.roleId != 3"
                      placeholder="Kích hoạt..."
                      name="isHoliday"
                      id="isHoliday"
                      (change)="inputChange()">
                  </ng-select>
                    </div>
                  </div>
                </fieldset>
                
                <fieldset *ngIf="type == 'detail'" style="border: 1px solid #ced4da; border-radius: 0.375rem; margin-top: 10px;"><legend>Tổng chi phí</legend>
                  <div class="row">
                    <div class="col-lg-5">
                      <h4>Các chi phí (không bao gồm dịch vụ):</h4>
                    </div>
                    <div class="col-lg-7 text-right">
                      <h2>{{resSchedule.totalCostTourNotService}}</h2>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-5">
                      <h4>Tổng chi phí</h4>
                    </div>
                    <div class="col-lg-7 text-right">
                      <h2>{{resSchedule.finalPrice}}</h2>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-5">
                      <h4>Tổng chi phí (Ngày lễ)</h4>
                    </div>
                    <div class="col-lg-7 text-right">
                      <h2>{{resSchedule.finalPriceHoliday}}</h2>
                    </div>
                  </div>
                </fieldset>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <a ngbNavLink style="font-size: 25px;">Timeline</a>
            <ng-template ngbNavContent>
              <p>
                Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi.
                Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio.
                Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna,
                egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec
                tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et
                magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget
                neque. Phasellus nec tortor vel tellus pulvinar feugiat.
              </p>
            </ng-template>
          </li>
          
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
        <div class="row align-items-center">
          <div class="col-12 text-right">
            <ng-container *ngIf="type != 'approve' && type != 'refuse' && type != 'cancelRequire'; else elseApprove">
              <div class="mt-3 row align-items-center">
                <div class="col-12 text-right">
                  <button  *ngIf="type == 'detail' && !resSchedule.isDelete" class="btn btn-lg btn-danger" data-bs-toggle="modal" data-bs-target="#deleteScheduleModal" (click)="getParentData('detail')">Xóa</button>
                  <button *ngIf="isChange && type == 'detail'" class="btn btn-lg btn-info" (click)="backup()">Khôi phục</button>
                  <button *ngIf="isChange && type == 'detail'" class="btn btn-lg btn-success"  (click)="save()">Lưu</button>
                  <button *ngIf="isChange && type == 'create'" class="btn btn-lg btn-success"  (click)="save()" ngbPopover="Bạn cần thêm chi phí!" [positionTarget]="target">Thêm</button>
                  <button *ngIf="resSchedule.isDelete" (click)="getParentData('detail')" data-bs-toggle="modal" data-bs-target="#restoreScheduleModal" class="btn btn-lg btn-warning">Khôi phục lịch trình</button>
                </div>
              </div>
            </ng-container>
            <ng-template #elseApprove>
              <div class="row mt-4" style="border-top: 1.5px solid; padding-top: 20px;">
                <div [class]="auth.roleId == -1 && auth.id == resSchedule.idUserModify ? 'col-4' : 'col-6'"
                [style]="auth.roleId == -1 && auth.id == resSchedule.idUserModify ? 'text-align: end' : 'padding-left: 8%; text-align: center'"
                *ngIf="auth.roleId == -1">
                  <button class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#approveScheduleModal" (click)="getParentData('approve')">Phê duyệt</button>
                </div>
                <div [class]="auth.roleId == -1 && auth.id == resSchedule.idUserModify ? 'col-4' : 'col-6'"
                 style="text-align: center" *ngIf="auth.roleId == -1">
                  <button class="btn btn-warning"  data-bs-toggle="modal" data-bs-target="#approveScheduleModal" (click)="getParentData('refuse')">Từ chối phê duyệt</button>
                </div>
                <div [class]="auth.roleId != -1 && auth.id == resSchedule.idUserModify ? 'col' : 'col-4'"
                [style]="auth.roleId != -1 && auth.id == resSchedule.idUserModify ? 'padding-right: 4.9%; text-align: end' : ''"
                *ngIf="auth.id == resSchedule.idUserModify">
                  <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#approveScheduleModal" (click)="getParentData('cancelRequire')">Hủy yêu cầu phê duyệt</button>
                </div>
              </div>
            </ng-template>
          </div>
       </div>
        <hr>
      </form>
    </div>
  </ng-container>
</div>


<div class="modal fade" id="deleteScheduleIdTourModal" tabindex="-1" aria-labelledby="deleteScheduleIdTourModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteScheduleIdTourModal">Xác nhận</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="resSchedule">
        Bạn có chắc muốn xóa [<span class="text-red">{{resSchedule.nameTour}}</span>] !
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="delete()">Xóa</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Không</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="restoreScheduleIdTourModal" tabindex="-1" aria-labelledby="restoreScheduleIdTourModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="restoreScheduleIdTourModal">Xác nhận</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="resSchedule">
        Bạn có chắc muốn khôi phục [<span class="text-red">{{resSchedule.nameTour}}</span>] !
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="restoreSchedule()">Khôi phục</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Không</button>
      </div>
    </div>
  </div>
</div>
