<div class="header bg-gradient-cus pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Tổng Khuyến mãi </h5>
                  <span class="h2 font-weight-bold mb-0">{{resPromotionStatistic.promotion}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Khuyến mãi trong tháng </h5>
                  <span class="h2 font-weight-bold mb-0">{{resPromotionStatistic.promotionOfMonth}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                <span class="text-nowrap">Since last week</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Khuyến mãi còn hiệu lực</h5>
                  <span class="h2 font-weight-bold mb-0">{{resPromotionStatistic.promotionOfTime}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                <span class="text-nowrap">Since yesterday</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Khuyến mãi hết hiệu lực</h5>
                  <span class="h2 font-weight-bold mb-0">{{resPromotionStatistic.unPromotionOfTime}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <h1 class="mt-3 mb-3" style="border-bottom: 1px solid; padding-bottom:10px;">Danh sách khuyến mãi</h1>
  <div class="row">
    <div class="col">
      <div class="card shadow border-0">
        <app-grid-data [rowData]="resPromotion" [columnDefs]="columnDefs" [gridConfig]="gridConfig" (gdSearch)="search($event)" (gdChecked)="search($event, true)" (gdType)="childType($event)" (gdChild)="childData($event)" (gdRestore)="getData($event)" (gdDelete)="getData($event)"></app-grid-data>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" [id]="gridConfig.idModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="gridDataLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <app-item-promotion [resPromotion]="dataChild" [type]="typeChild" (parentData)="getData($event)"  (parentType)="childType($event)"></app-item-promotion>
    </div>
  </div>
</div>

<div class="modal fade" [id]="gridConfig.idModalDelete" tabindex="-1" aria-labelledby="deletePromotionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deletePromotionModalLabel">Xác nhận</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="data">
        Bạn có chắc muốn xóa [<span class="text-red">{{data.value}}</span>] !
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="delete()" >Xóa</button>
        <ng-container *ngIf="typeChild; else elseType">
          <button type="button" class="btn btn-primary" [attr.data-bs-target]="'#'+gridConfig.idModal" data-bs-toggle="modal">Không</button>
        </ng-container>
        <ng-template #elseType>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Không</button>
        </ng-template>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" [id]="gridConfig.idModalRestore" tabindex="-1" aria-labelledby="restorePromotionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="restorePromotionModalLabel">Xác nhận</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="data">
        Bạn có chắc muốn khôi phục [<span class="text-red">{{data.value}}</span>] !
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="restore()" >Khôi phục</button>
        <ng-container *ngIf="typeChild; else elseType">
          <button type="button" class="btn btn-primary" [attr.data-bs-target]="'#'+gridConfig.idModal" data-bs-toggle="modal">Không</button>
        </ng-container>
        <ng-template #elseType>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Không</button>
        </ng-template>

      </div>
    </div>
  </div>
</div>

<!--  waiting -->
<div class="container-fluid mt-5">
  <h1 class="mt-3 mb-3" style="border-bottom: 1px solid; padding-bottom:10px;">Danh sách khuyến mãi chờ duyệt</h1>
  <div class="row">
    <div class="col">
      <div class="card shadow border-0">
        <app-grid-data [rowData]="resPromotionWaiting" [columnDefs]="columnDefsWaiting" [gridConfig]="gridConfigWaiting" (gdApprove)="getData($event)" (gdType)="childType($event)" (gdChild)="childData($event)"></app-grid-data>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" [id]="gridConfigWaiting.idModalApprove" tabindex="-1" aria-labelledby="approvePromotionModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="data">
        <ng-container *ngIf="typeChild == 'approve'; else elseApprove">
            Bạn có chắc muốn phê duyệt [<span class="text-red">{{data.name}}</span>] !
        </ng-container>
        <ng-template #elseApprove>
          <ng-container *ngIf="typeChild == 'refuse'; else elseRefuse">
            Bạn có chắc muốn từ chối phê duyệt [<span class="text-red">{{data.name}}</span>] !
          </ng-container>
          <ng-template #elseRefuse>
            Bạn có chắc muốn hủy yêu cầu phê duyệt [<span class="text-red">{{data.name}}</span>] !
          </ng-template>
        </ng-template>


      </div>
      <div class="modal-footer">
        <ng-container *ngIf="typeChild == 'approve'; else elseApprove">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="approve()" >Phê duyệt</button>
      </ng-container>
      <ng-template #elseApprove>
        <ng-container *ngIf="typeChild == 'refuse'; else elseRefuse">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="refuse()" >Từ chối</button>
        </ng-container>
        <ng-template #elseRefuse>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="delete()" >Hủy yêu cầu</button>
        </ng-template>
      </ng-template>

        <ng-container *ngIf="typeChild; else elseType">
          <button type="button" class="btn btn-primary" [attr.data-bs-target]="'#'+gridConfigWaiting.idModal" data-bs-toggle="modal">Không</button>
        </ng-container>
        <ng-template #elseType>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Không</button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
