// .seen{
//   background-color: #9797981c;
// }

.itemSeen{
  color: black;
}


.textDot{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dropdown-item:hover, .dropdown-item:focus {
  transition: 0.5s;
  color: #16181b;
  text-decoration: none;
  background-color: #e9ecef;
  .cart-close{
    opacity: 1
  }
}


.cart-close{
  position: absolute;
  margin-top: -20px;
  right: 8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 22px;
  opacity: 0;
  transition: 0.5s;
}

.cart-close-icon{
  background-color: rgb(92, 90, 89);
  border-radius: 50%;
  color: white;
}


.switch {
  position: relative;
  display: inline-block;
  width: 130px;
  height: 34px;
 }

 .switch input {
  display: none;
 }

 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3C3C3C;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
 }

 .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
 }

 input:checked + .slider {
  background: linear-gradient(-45deg, #209077, #1ae28a 100%) !important;
 }



 input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(85px);
  left: 15px;
 }

 /*------ ADDED CSS ---------*/
 .slider:after {
  content: 'Tất cả';
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;

 }

 input:checked + .slider:after {
  content: 'Chưa đọc';
 }

 /*--------- END --------*/
