<div class="header bg-gradient-cus pt-6"></div>
<div class="container-fluid">
  <div class="row mt-3" style="width: 20rem;">
    <div class="col-4" style="padding-top: 8px;">Từ ngày </div>
    <input  class="col-8 form-control custom-pages-input" style="height: 30px;" name="dp" onkeydown="return false" [(ngModel)]="from" (change)="initCar()" placeholder="DD/MM/YYYY"  type="datetime-local"/>
   </div>
  <div class="row" style="width: 20rem;">
     <div class="col-4" style="padding-top: 8px;">Đến ngày </div>
     <input  class="col-8 form-control custom-pages-input" style="height: 30px;"  name="dp" onkeydown="return false" [(ngModel)]="to" (change)="initCar()" placeholder="DD/MM/YYYY"  type="datetime-local"/>
  </div>
  <div class="row mt-3">
    <div class="col-6">
      <div class="card shadow border-0">
        <app-grid-data [rowData]="resInfo.listCarFree" [columnDefs]="columnDefs1" [gridConfig]="gridConfig"></app-grid-data>
      </div>
    </div>

    <div class="col-6">
      <div class="card shadow border-0">
        <app-grid-data [rowData]="resInfo.listEmployeeFree" [columnDefs]="columnDefs2" [gridConfig]="gridConfig"></app-grid-data>
      </div>
    </div>
  </div>
</div>
