<app-grid-data [rowData]="resDistrict" [columnDefs]="columnDefs" [gridConfig]="gridConfig"  (gdType)="childType($event)" (gdSearch)="search($event)" (gdChild)="childData($event)" (gdDelete)="parentDelete($event)"></app-grid-data>

<div class="modal fade" [id]="gridConfig.idModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="gridDataLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <app-item-district [resDistrict]="dataChild" [type]="typeChild"></app-item-district>
    </div>
  </div>
</div>


<div class="modal fade" id="deleteDistrictModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteDistrictModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteDistrictModalLabel">Xác nhận</h1>
        <button type="button" #closeModalLoadDeleteDistrict class="btn-close" data-bs-dismiss="modal" aria-label="Close" [disabled]="isLoading"></button>
      </div>
      <div class="modal-body" *ngIf="data">
        Bạn có chắc muốn xóa [<span class="text-red">{{data.nameDistrict}}</span>] !
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="isLoading=true;deleteDistrict()" [disabled]="isLoading">
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          {{isLoading?'Đang xử lý...':'Xóa'}}
        </button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="isLoading">Không</button>
      </div>
    </div>
  </div>
</div>
