
#menu{
  position: fixed;
  width:200px;
  display: none;
  z-index: 2;
}
#menu ul{
  padding:0;
  margin: 0;
  list-style: none;
}
#menu li i{
  margin-right: 15px;
}
#menu li{
  padding:20px;
  background-color: #525F6C;
  border-bottom: 1px solid #5d6a77;
  color:#fff;
  transition: 0.5s;
  opacity: 0;
  animation: showmenu 0.5s ease-in-out 1 forwards;
}
#menu li:nth-child(2){
  animation-delay: 0.1s;
}
#menu li:nth-child(3){
  animation-delay: 0.2s;
}
#menu li:nth-child(4){
  animation-delay: 0.3s;
}
#menu li:hover{
  background-color: #72DE73;
  transform: translate(0,-10px);
  box-shadow: 0 10px 50px #636363;
}
@keyframes showmenu{
  from{
      opacity: 0;
      transform: translate(0,20px);
  }to{
      opacity: 1;
      transform: translate(0,0);
  }
}
