<div class="header bg-gradient-cus pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Traffic</h5>
                  <span class="h2 font-weight-bold mb-0">350,897</span><i class="fa-solid fa-star text-warning"></i>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">New users</h5>
                  <span class="h2 font-weight-bold mb-0">2,356</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                <span class="text-nowrap">Since last week</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Sales</h5>
                  <span class="h2 font-weight-bold mb-0">924</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                <span class="text-nowrap">Since yesterday</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Performance</h5>
                  <span class="h2 font-weight-bold mb-0">49,65%</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <h1 class="mt-3 mb-3" style="border-bottom: 1px solid; padding-bottom:10px;">Danh sách khách sạn</h1>
  <div class="row">
    <div class="col">
      <div class="card shadow border-0">
        <app-grid-data [rowData]="resHotel" [columnDefs]="columnDefs" [gridConfig]="gridConfig" (gdChecked)="search($event, true)" (gdSearch)="search($event)" (gdType)="childType($event)" (gdChild)="childData($event)" (gdRestore)="getData($event)" (gdDelete)="getData($event)"></app-grid-data>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" [id]="gridConfig.idModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="gridDataLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <app-item-hotel [resHotel]="dataChild" [type]="typeChild" (parentData)="getData($event)" (parentType)="childType($event)"></app-item-hotel>
    </div>
  </div>
</div>

<div class="modal fade" [id]="gridConfig.idModalDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteHotelModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteHotelModalLabel">Xác nhận</h1>
        <button type="button" #closeModalLoad class="btn-close" data-bs-dismiss="modal" aria-label="Close" [disabled]="isLoading"></button>
      </div>
      <div class="modal-body" *ngIf="data">
        Bạn có chắc muốn xóa [<span class="text-red">{{data.name}}</span>] !
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="isLoading=true;delete()" [disabled]="isLoading">
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          {{isLoading?'Đang xử lý...':'Xóa'}}
        </button>
        <ng-container *ngIf="typeChild; else elseType">
          <button type="button" class="btn btn-primary" [attr.data-bs-target]="'#'+gridConfig.idModal" data-bs-toggle="modal" [disabled]="isLoading">Không</button>
        </ng-container>
        <ng-template #elseType>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="isLoading">Không</button>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" [id]="gridConfig.idModalRestore" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="restoreHotelModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="restoreHotelModalLabel">Xác nhận</h1>
        <button type="button" #closeModalLoad class="btn-close" data-bs-dismiss="modal" aria-label="Close" [disabled]="isLoading"></button>
      </div>
      <div class="modal-body" *ngIf="data">
        Bạn có chắc muốn khôi phục [<span class="text-red">{{data.name}}</span>] !
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="isLoading=true;restore()" [disabled]="isLoading">
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          {{isLoading?'Đang xử lý...':'Khôi phục'}}
        </button>
        <ng-container *ngIf="typeChild; else elseType">
          <button type="button" class="btn btn-primary" [attr.data-bs-target]="'#'+gridConfig.idModal" data-bs-toggle="modal" [disabled]="isLoading">Không</button>
        </ng-container>
        <ng-template #elseType>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="isLoading">Không</button>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<!--  waiting -->
<div class="container-fluid mt-5">
  <h1 class="mt-3 mb-3" style="border-bottom: 1px solid; padding-bottom:10px;">Danh sách khách sạn chờ duyệt</h1>
  <div class="row">
    <div class="col">
      <div class="card shadow border-0">
        <app-grid-data [rowData]="resHotelWaiting" [columnDefs]="columnDefsWaiting" [gridConfig]="gridConfigWaiting" (gdSearch)="initWaiting($event)" (gdApprove)="getData($event)" (gdType)="childType($event)" (gdChild)="childData($event)"></app-grid-data>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" [id]="gridConfigWaiting.idModalApprove" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="approveHotelModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="approveHotelModalLabel">Xác nhận</h1>
        <button type="button" #closeModalLoad class="btn-close" data-bs-dismiss="modal" aria-label="Close" [disabled]="isLoading"></button>
      </div>
      <div class="modal-body" *ngIf="data">
        <ng-container *ngIf="typeChild == 'approve'; else elseApprove">
          Đồng ý phê duyệt [<span class="text-red">{{data.name}}</span>] ?
        </ng-container>
        <ng-template #elseApprove>
          <ng-container *ngIf="typeChild == 'refuse'; else elseRefuse">
            Đồng ý từ chối phê duyệt [<span class="text-red">{{data.name}}</span>] ?
          </ng-container>
          <ng-template #elseRefuse>
           Đồng ý hủy yêu cầu phê duyệt [<span class="text-red">{{data.name}}</span>] ?
          </ng-template>
        </ng-template>


      </div>
      <div class="modal-footer">
        <ng-container *ngIf="typeChild == 'approve'; else elseApprove">
            <button type="button" class="btn btn-danger" (click)="isLoading=true;approve()" [disabled]="isLoading">{{isLoading?'Đang xử lý...':'Phê duyệt'}}</button>
        </ng-container>
        <ng-template #elseApprove>
          <ng-container *ngIf="typeChild == 'refuse'; else elseRefuse">
            <button type="button" class="btn btn-danger" (click)="isLoading=true;refuse()" [disabled]="isLoading">{{isLoading?'Đang xử lý...':'Từ chối'}}</button>
          </ng-container>
          <ng-template #elseRefuse>
            <button type="button" class="btn btn-danger" (click)="isLoading=true;delete()" [disabled]="isLoading">{{isLoading?'Đang xử lý...':'Hủy yêu cầu'}}</button>
          </ng-template>
        </ng-template>

        <ng-container *ngIf="typeChild; else elseType">
          <button type="button" class="btn btn-primary" [attr.data-bs-target]="'#'+gridConfigWaiting.idModal" data-bs-toggle="modal" [disabled]="isLoading">Không</button>
        </ng-container>
        <ng-template #elseType>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="isLoading">Không</button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
