<div class="modal-header">
  <h1 class="modal-title fs-5" id="gridDataLabel">Thông tin chi tiết</h1>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
  <ng-container *ngIf="resSchedule">
    <div class="container-fluid" >
      <div class="row align-items-center">
        <div class="col-12 text-right">
          <a href="javascript:void(0)" *ngIf="type == 'detail'" class="btn btn-sm btn-primary" (click)="isEditChange()">{{!isEdit ? "Chỉnh sửa":"Quay lại"}}</a>
        </div>
      </div>

      <form>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label" for="tourId">Chọn tour</label>
                <ng-select [items]="resTour"
                            bindLabel="tourName"
                            bindValue="id"
                            [(ngModel)]="resSchedule.tourId"
                            [disabled]="!isEdit"
                            placeholder="Chọn tour..."
                            name="tourId"
                            id="tourId"
                            (change)="inputChange()">
                </ng-select>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label" for="employeeId">Chọn nhân viên</label>
                <ng-select [items]="resEmployee"
                            bindLabel="nameEmployee"
                            bindValue="idEmployee"
                            [(ngModel)]="resSchedule.employeeId"
                            [disabled]="!isEdit"
                            placeholder="Chọn nhân viên..."
                            name="employeeId"
                            id="employeeId"
                            (change)="inputChange()">
                </ng-select>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label" for="carId">Chọn xe</label>
                <ng-select [items]="resCar"
                            bindLabel="liscensePlate"
                            bindValue="idCar"
                            [(ngModel)]="resSchedule.carId"
                            [disabled]="!isEdit"
                            placeholder="Chọn xe..."
                            name="carId"
                            id="carId"
                            (change)="inputChange()">
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-departureDate">Chọn ngày khởi hành</label>
                <input type="text" id="departureDate" (input)="inputChange()" class="form-control form-control-alternative" placeholder="Chọn ngày" [(ngModel)]="resSchedule.departureDate" [readonly]="!isEdit">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-promotionId">Chọn khuyến mãi</label>
                <input type="text" id="promotionId" (input)="inputChange()" class="form-control form-control-alternative" placeholder="Chọn khuyến mãi" [(ngModel)]="resSchedule.promotionId" [readonly]="!isEdit">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-timePromotion">Chọn thời gian khuyến mãi</label>
                <input type="text" id="timePromotion" (input)="inputChange()" class="form-control form-control-alternative" placeholder="Chọn ngày" [(ngModel)]="resSchedule.timePromotion" [readonly]="!isEdit">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-beginDate">Chọn ngày bắt đầu</label>
                <input type="text" id="beginDate" (input)="inputChange()" class="form-control form-control-alternative" placeholder="Chọn ngày" [(ngModel)]="resSchedule.beginDate" [readonly]="!isEdit">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-endDate">Chọn ngày kết thúc</label>
                <input type="text" id="endDate" (input)="inputChange()" class="form-control form-control-alternative" placeholder="Chọn ngày" [(ngModel)]="resSchedule.endDate" [readonly]="!isEdit">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-minCapacity">Tối thiểu số người</label>
                <input type="text" id="minCapacity" (input)="inputChange()" class="form-control form-control-alternative" placeholder="Nhập số lượng tối thiểu" [(ngModel)]="resSchedule.minCapacity" [readonly]="!isEdit">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-maxCapacity">Tối đa số người</label>
                <input type="text" id="maxCapacity" (input)="inputChange()" class="form-control form-control-alternative" placeholder="Nhập số lượng tối đa" [(ngModel)]="resSchedule.maxCapacity" [readonly]="!isEdit">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="row align-items-center">
      <div class="col-12 text-right">
        <button  *ngIf="type == 'detail'" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteProvinceModal" (click)="getDataDelete()">Xóa</button>
        <button *ngIf="isChange && type == 'detail'" class="btn btn-sm btn-info" (click)="restore()">Khôi phục</button>
        <button *ngIf="isChange" class="btn btn-sm btn-success"  (click)="save()">{{type == 'detail' ? "Lưu":"Thêm"}}</button>
      </div>
    </div>

  </ng-container>
</div>
