<ng-container *ngIf="type == 'single'; else elseType">
  <div class="input-group input-group-alternative">
    <div class="input-group-prepend" style="height: 30px;">
      <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
    </div>
    <input style="height: 30px;" class="form-control datepicker" placeholder="Select date" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" type="text"/>
  </div>
</ng-container>
<ng-template #elseType>
  <div class="input-group">
    <div class="input-group-prepend" style="height: 30px;">
      <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
    </div>
    <input style="height: 30px;" class="form-control datepicker" placeholder="Từ ngày" name="fromdp" [(ngModel)]="hoveredDate" ngbDatepicker #from="ngbDatepicker"   (click)="from.toggle()" type="text"/>

    <div class="input-group-prepend" style="height: 30px;">
      <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
    </div>
    <input style="height: 30px;" class="form-control datepicker" placeholder="Đến ngày" name="todp" [(ngModel)]="toDate" ngbDatepicker #to="ngbDatepicker" (click)="to.toggle()" type="text"/>
  </div>

</ng-template>
