
<div class="modal-header">
  <h1 class="modal-title fs-5" id="gridDataLabel">Thông tin chi tiết</h1>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
  <ng-container *ngIf="resRestaurant">
    <div class="container-fluid" >
      <form>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label class="form-control-label" for="name">Tên nhà hàng
                  <span [class]="type != 'create' ?'d-none':'text-red'">* {{this.validateRestaurant.name ? this.validateRestaurant.name : ''}}</span>
                </label>
                <input type="text" id="name" name="name" (input)="inputChange()" class="form-control " placeholder="Nhập tên nhà hàng" [(ngModel)]="resRestaurant.name" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resRestaurant.isDelete">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="phone">Số điện thoại
                  <span [class]="type != 'create' ?'d-none':'text-danger'">* {{this.validateRestaurant.phone ? this.validateRestaurant.phone : ''}}</span>
                </label>
                <input type="number" id="phone" name="phone" (input)="formatInput($any($event).target, 'phone'); inputChange()" class="form-control " placeholder="Nhập số điện thoại" [(ngModel)]="resRestaurant.phone" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resRestaurant.isDelete">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <label class="form-control-label" for="input-address">Địa chỉ
                <span [class]="type != 'create'?'d-none':'text-danger'">* {{this.validateRestaurant.address ? this.validateRestaurant.address : ''}}</span>
              </label>
              <input type="text" id="address" name="address" (input)="inputChange()" class="form-control " placeholder="Nhập số điạ chỉ" [(ngModel)]="resRestaurant.address" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resRestaurant.isDelete">
            </div>

            <div class="col-lg-6">
              <label class="form-control-label" for="input-address">Giá nhà hàng
                <span [class]="type != 'create'?'d-none':'text-danger'">* {{this.validateRestaurant.comboPrice ? this.validateRestaurant.comboPrice : ''}}</span>
              </label>
              <input type="text" id="comboPrice" name="comboPrice" (input)="formatInput($any($event).target, 'comboPrice');inputChange()" class="form-control " placeholder="Nhập giá" [(ngModel)]="resRestaurant.comboPrice" [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resRestaurant.isDelete">
            </div>
          </div>
          <hr>
        </div>
      </form>
    </div>

    <ng-container *ngIf="type != 'approve' && type != 'refuse' && type != 'cancelRequire'; else elseApprove">
      <div class="row align-items-center">
        <div class="col-12 text-right">
          <button  *ngIf="type == 'detail' && !resRestaurant.isDelete" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteRestaurantModal" (click)="getParentData('detail')">Xóa</button>
          <button *ngIf="isChange && type == 'detail'" class="btn btn-sm btn-info" (click)="backup()">Khôi phục</button>
          <button *ngIf="isChange && type == 'detail'" class="btn btn-sm btn-success"  (click)="save()">Lưu</button>
          <button *ngIf="isChange && type == 'create'" class="btn btn-sm btn-success"  (click)="save()">Thêm</button>
          <button *ngIf="resRestaurant.isDelete" (click)="getParentData('detail')" data-bs-toggle="modal" data-bs-target="#restoreRestaurantModal" class="btn btn-sm btn-warning">Khôi phục khách sạn</button>
        </div>
      </div>
    </ng-container>
    <ng-template #elseApprove>
      <div class="row mt-2" style="border-top: 1.5px solid; padding-top: 20px;">
        <div [class]="auth.roleId == -1 && auth.id == resRestaurant.idUserModify ? 'col-4' : 'col-6'"
        [style]="auth.roleId == -1 && auth.id == resRestaurant.idUserModify ? 'text-align: end' : 'padding-left: 8%; text-align: center'"
        *ngIf="auth.roleId == -1">
          <button class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#approveRestaurantModal" (click)="getParentData('approve')">Phê duyệt</button>
        </div>
        <div [class]="auth.roleId == -1 && auth.id == resRestaurant.idUserModify ? 'col-4' : 'col-6'"
         style="text-align: center" *ngIf="auth.roleId == -1">
          <button class="btn btn-warning"  data-bs-toggle="modal" data-bs-target="#approveRestaurantModal" (click)="getParentData('refuse')">Từ chối phê duyệt</button>
        </div>
        <div [class]="auth.roleId != -1 && auth.id == resRestaurant.idUserModify ? 'col' : 'col-4'"
        [style]="auth.roleId != -1 && auth.id == resRestaurant.idUserModify ? 'padding-right: 4.9%; text-align: end' : ''"
        *ngIf="auth.id == resRestaurant.idUserModify">
          <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#approveRestaurantModal" (click)="getParentData('cancelRequire')">Hủy yêu cầu phê duyệt</button>
        </div>
      </div>
    </ng-template>
  </ng-container>
</div>

