<div class="modal-header">
  <h1 class="modal-title fs-5" id="gridDataLabel">Thông tin chi tiết</h1>
  <button #closeModal type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"
    [disabled]="isLoading"></button>
</div>
<div class="modal-body">
  <ng-container *ngIf="resHotel">
    <div class="container-fluid">
      <form>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label class="form-control-label" for="name">Tên Khách Sạn
                  <span
                    [class]="type != 'detail' && type != 'create' || resHotel.isDelete || isLoading ?'d-none':'text-danger'">*
                    {{validateHotel.name ? validateHotel.name : ''}}</span>
                </label>
                <input type="text" id="name" name="name" (input)="inputChange()" class="form-control "
                  placeholder="Nhập tên khách sạn" [(ngModel)]="resHotel.name"
                  [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resHotel.isDelete || isLoading">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label class="form-control-label" for="phone">Số điện thoại
                  <span
                    [class]="type != 'detail' && type != 'create' || resHotel.isDelete || isLoading ?'d-none':'text-danger'">*
                    {{validateHotel.phone ? validateHotel.phone : ''}}</span>
                </label>
                <input type="text" id="phone" name="phone"
                  (input)="formatInput($any($event).target, 'phone'); inputChange()" class="form-control "
                  placeholder="Nhập số điện thoại" [(ngModel)]="resHotel.phone"
                  [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resHotel.isDelete || isLoading">
              </div>
            </div>
            <div class="col-3">
              <label class="form-control-label" for="star">Số sao</label>
              <span
                [class]="type != 'detail' && type != 'create' || resHotel.isDelete || isLoading ?'d-none':'text-danger'"
                style="font-weight: 600;">* {{validateHotel.star ? validateHotel.star : ''}}</span>
              <ng-select [items]="listStar" [(ngModel)]="resHotel.star"
                [disabled]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resHotel.isDelete || isLoading"
                placeholder="Chọn số sao..." name="star" id="star" bindLabel="name" bindValue="id" [searchable]="false"
                (change)="inputChange()">

                <ng-template ng-label-tmp let-item="item" let-item$="item$" let-index="index">
                  {{item.name}} -
                  <i class="fa-solid fa-star text-yellow" *ngFor='let star of resHotel.star | forNumber'></i>
                  <i class="fa-solid fa-star" *ngFor='let star of listStar.length-1 - resHotel.star | forNumber'></i>
                </ng-template>

                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                  {{item.name}} -
                  <i class="fa-solid fa-star text-yellow" *ngFor='let star of item.id | forNumber'></i>
                  <i class="fa-solid fa-star" *ngFor='let star of listStar.length-1 - item.id  | forNumber'></i>
                </ng-template>
              </ng-select>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <div class="form-group">
                <label class="form-control-label" for="input-quantitySR">Số lượng phòng đơn
                  <span
                    [class]="type != 'detail' && type != 'create' || resHotel.isDelete || isLoading ?'d-none':'text-danger'">*
                    {{validateHotel.quantitySR ? validateHotel.quantitySR : ''}}</span>
                </label>
                <input type="text" name="quantitySR" id="quantitySR"
                  (input)="formatInput($any($event).target, 'quantitySR'); inputChange()" class="form-control "
                  placeholder="Nhập số lượng phòng đơn" [(ngModel)]="resHotel.quantitySR"
                  [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resHotel.isDelete || isLoading">
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label class="form-control-label" for="input-singleRoomPrice">Giá phòng đơn
                  <span
                    [class]="type != 'detail' && type != 'create' || resHotel.isDelete || isLoading ?'d-none':'text-danger'">*
                    {{validateHotel.singleRoomPrice ? validateHotel.singleRoomPrice : ''}}</span>
                </label>
                <input type="text" name="singleRoomPrice" id="singleRoomPrice"
                  (input)="formatInput($any($event).target, 'singleRoomPrice'); inputChange()" class="form-control "
                  placeholder="Nhập giá tiền phòng đơn" [(ngModel)]="resHotel.singleRoomPrice"
                  [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resHotel.isDelete || isLoading">
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label class="form-control-label" for="input-quantityDBR">Số lượng phòng đôi
                  <span
                    [class]="type != 'detail' && type != 'create' || resHotel.isDelete || isLoading ?'d-none':'text-danger'">*
                    {{validateHotel.quantityDBR ? validateHotel.quantityDBR : ''}}</span>
                </label>
                <input type="text" name="quantityDBR" id="quantityDBR"
                  (input)="formatInput($any($event).target, 'quantityDBR');inputChange()" class="form-control "
                  placeholder="Nhập số lượng phòng đôi" [(ngModel)]="resHotel.quantityDBR"
                  [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resHotel.isDelete || isLoading">
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label class="form-control-label" for="input-doubleRoomPrice">Giá phòng đôi
                  <span
                    [class]="type != 'detail' && type != 'create' || resHotel.isDelete || isLoading ?'d-none':'text-danger'">*
                    {{validateHotel.doubleRoomPrice ? validateHotel.doubleRoomPrice : ''}}</span>
                </label>
                <input type="text" name="doubleRoomPrice" id="doubleRoomPrice"
                  (input)="formatInput($any($event).target, 'doubleRoomPrice'); inputChange()" class="form-control "
                  placeholder="Nhập giá tiền phòng đôi" [(ngModel)]="resHotel.doubleRoomPrice"
                  [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resHotel.isDelete || isLoading">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <label class="form-control-label" for="input-address">Tỉnh/Thành phố
                <span
                  [class]="type != 'detail' && type != 'create' || resHotel.isDelete || isLoading ?'d-none':'text-danger'">*
                  {{validateHotel.provinceId ? validateHotel.provinceId : ''}}</span>
              </label>
              <ng-select [items]="resProvince" bindLabel="nameProvince" bindValue="idProvince"
                [(ngModel)]="resHotel.provinceId" placeholder="Chọn thành phố/tỉnh..." name="idProvince"
                id="idProvince" [clearable]="false" [searchable]="false"
                (change)="inputChange(); locationChange('province', 'District')" [disabled]="isLoading"
                [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resHotel.isDelete || isLoading">
              </ng-select>
            </div>

            <div class="col-md-4">
              <label class="form-control-label" for="input-address">Quận/Huyện
                <span
                  [class]="type != 'detail' && type != 'create' || resHotel.isDelete || isLoading ?'d-none':'text-danger'">*
                  {{validateHotel.districtId ? validateHotel.districtId : ''}}</span>
              </label>
              <ng-select [items]="resDistrictTmp?resDistrictTmp:resDistrict" bindLabel="nameDistrict"
                bindValue="idDistrict" [(ngModel)]="resHotel.districtId" placeholder="Chọn thành quận/huyện..."
                name="idDistrict" id="idDistrict" [clearable]="false" [searchable]="false"
                (change)="inputChange(); locationChange('district', 'Ward')" [disabled]="isLoading"
                [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resHotel.isDelete || isLoading">
              </ng-select>
            </div>


            <div class="col-md-4">
              <label class="form-control-label" for="input-address">Phường/Xã
                <span
                  [class]="type != 'detail' && type != 'create' || resHotel.isDelete || isLoading ?'d-none':'text-danger'">*
                  {{validateHotel.wardId ? validateHotel.wardId : ''}}</span>
              </label>
              <ng-select [items]="resWardTmp?resWardTmp:resWard" bindLabel="nameWard" bindValue="idWard"
                [(ngModel)]="resHotel.wardId" placeholder="Chọn thành quận/huyện..." name="idWard" id="idWard"
                [clearable]="false" [searchable]="false" (change)="inputChange()" [disabled]="isLoading"
                [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resHotel.isDelete || isLoading">
              </ng-select>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label class="form-control-label mt-3" for="input-address">Địa chỉ chi tiết
                <span
                  [class]="type != 'detail' && type != 'create' || resHotel.isDelete || isLoading ?'d-none':'text-danger'">*
                  {{validateHotel.address ? validateHotel.address : ''}}</span>
              </label>
              <input type="text" id="address" name="address" (input)="inputChange()" class="form-control"
                placeholder="Nhập số điạ chỉ" [(ngModel)]="resHotel.address"
                [readonly]="type == 'refuse' || type == 'cancelRequire' || type == 'approve' || resHotel.isDelete || isLoading">
            </div>
          </div>


          <fieldset class="mt-4" *ngIf="type == 'approve' || type == 'refuse' || type == 'cancelRequire'">
            <legend>Thông tin người yêu cầu</legend>
            <div class="row" style="margin-top: -20px;">
              <div class="col-4">
                <label class="form-control-label" for="input-address">Mã số</label>
                <input type="text" id="idUserModify" name="idUserModify" class="form-control "
                  placeholder="Mã người yêu cầu" [(ngModel)]="resHotel.idUserModify" readonly>
              </div>
              <div class="col-6">
                <label class="form-control-label" for="input-address">Tên</label>
                <input type="text" id="modifyBy" name="modifyBy" class="form-control " placeholder="Tên người yêu cầu"
                  [(ngModel)]="resHotel.modifyBy" readonly>
              </div>
              <div class="col-2">
                <label class="form-control-label" for="input-address">Ngày yêu cầu</label>
                <input type="date" id="modifyDate" name="modifyDate" class="form-control " placeholder="Ngày yêu cầu"
                  [(ngModel)]="resHotel.modifyDateDisplay" readonly>
              </div>
            </div>
          </fieldset>


        </div>
      </form>
    </div>

    <ng-container *ngIf="type != 'approve' && type != 'refuse' && type != 'cancelRequire'; else elseApprove">
      <div class="mt-3 row align-items-center">
        <div class="col-12 text-right">
          <button *ngIf="type == 'detail' && !resHotel.isDelete" class="btn btn-sm btn-danger" data-bs-toggle="modal"
            data-bs-target="#deleteHotelModal" (click)="getParentData('detail')" [disabled]="isLoading">Xóa</button>
          <button *ngIf="isChange && type == 'detail'" class="btn btn-sm btn-info" (click)="backup()"
            [disabled]="isLoading">Khôi phục</button>
          <button *ngIf="isChange" class="btn btn-sm btn-success" (click)="isLoading=true;save()"
            [disabled]="isLoading">{{isLoading?'Đang xử lý...':type == 'detail' ? "Lưu":"Thêm"}}</button>
          <button *ngIf="resHotel.isDelete" (click)="getParentData('detail')" data-bs-toggle="modal"
            data-bs-target="#restoreHotelModal" class="btn btn-sm btn-warning" [disabled]="isLoading">Khôi phục khách
            sạn</button>
        </div>
      </div>
    </ng-container>
    <ng-template #elseApprove>
      <div class="row mt-4" style="border-top: 1.5px solid; padding-top: 20px;">
        <div [class]="auth.roleId == -1 && auth.id == resHotel.idUserModify ? 'col-4' : 'col-6'"
          [style]="auth.roleId == -1 && auth.id == resHotel.idUserModify ? 'text-align: end' : 'padding-left: 8%; text-align: center'"
          *ngIf="auth.roleId == -1">
          <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#approveHotelModal"
            (click)="getParentData('approve')" [disabled]="isLoading">Phê duyệt</button>
        </div>
        <div [class]="auth.roleId == -1 && auth.id == resHotel.idUserModify ? 'col-4' : 'col-6'"
          style="text-align: center" *ngIf="auth.roleId == -1">
          <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#approveHotelModal"
            (click)="getParentData('refuse')" [disabled]="isLoading">Từ chối phê duyệt</button>
        </div>
        <div [class]="auth.roleId != -1 && auth.id == resHotel.idUserModify ? 'col' : 'col-4'"
          [style]="auth.roleId != -1 && auth.id == resHotel.idUserModify ? 'padding-right: 4.9%; text-align: end' : ''"
          *ngIf="auth.id == resHotel.idUserModify">
          <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#approveHotelModal"
            (click)="getParentData('cancelRequire')" [disabled]="isLoading">Hủy yêu cầu phê duyệt</button>
        </div>
      </div>
    </ng-template>
  </ng-container>
</div>
