<app-grid-data [rowData]="resWard" [columnDefs]="columnDefs" [gridConfig]="gridConfig"  (gdType)="childType($event)" (gdSearch)="search($event)" (gdChild)="childData($event)" (gdDelete)="parentDelete($event)"></app-grid-data>


<div class="modal fade" [id]="gridConfig.idModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="gridDataLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <app-item-ward [resWard]="dataChild" [type]="typeChild" (parentDel)="parentDelete($event)"></app-item-ward>
    </div>
  </div>
</div>
