<div [class]="idEmployee ?'header bg-gradient-cus pb-8 pt-5 pt-md-8': 'd-none'" style="z-index: -1;">
  <div class="container-fluid">
    <div class="header-body">

    </div>
  </div>
</div>

<div [class]="idEmployee?'d-none':'modal-header container-fluid'">
  <h1 class="modal-title fs-5" id="gridDataLabel" >Thông tin chi tiết</h1>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body" [style]="idEmployee?'margin-top: -130px;':''">
  <div class="row" *ngIf="resEmployee">
      <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img style="width: 200px; height: 200px;" [src]="img" class="rounded-circle">
                </a>
              </div>
            </div>
          </div>
          <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            <div class="d-flex justify-content-between">
              <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#staticBackdrop"  class="btn btn-sm btn-info mr-4">Đổi mật khẩu</a>
              <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Message</a>
            </div>
          </div>
          <div class="card-body pt-0 pt-md-4">
            <div class="row">
              <div class="col">
                <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                  <div class="row">
                    <div class="update ml-auto mr-auto">
                      <input id="file" type="file" class="d-none" accept="image/*,.jpg, .png, .jpeg" (change)="changeImg($event); inputChange()">
                      <label for="file" style="margin-left: 20px;" [class]="resEmployee.isDelete?'d-none':'btn text-white btn-primary btn-round'">Đổi hình đại diện</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <h3>
                {{resEmployee.nameEmployee}}<span class="font-weight-light"></span>
              </h3>
              <div>
                <i class="ni education_hat mr-2"></i>{{resEmployee.roleName}}
              </div>
              <hr class="my-4" />
              <p>Ngày sinh: {{resEmployee.birthday | formatDateToDateView}}</p>
              <p>Email: {{resEmployee.email}}</p>
              <p>Điện thoại: {{resEmployee.phone}}</p>
              <p>Địa chỉ: {{resEmployee.address}}</p>

            </div>

          </div>
        </div>
        <!-- <div class="row align-items-center">
          <div class="col-12 text-right" style="position: absolute; bottom: 0px;">
            <button  *ngIf="type == 'detail'&& resEmployee.isDelete == false " class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteItemEmployeeModal" (click)="getDataDelete()">Xóa</button>
            <button *ngIf="isChange && type == 'detail'" class="btn btn-sm btn-info" data-bs-toggle="modal" data-bs-target="#backupItemEmployeeModal">Khôi phục</button>
            <button *ngIf="isChange" class="btn btn-sm btn-success"  (click)="save()">{{type == 'detail' ? "Lưu":"Thêm"}}</button>
            <ng-container *ngIf="idEmployee; else elseGrid1">
              <button *ngIf="resEmployee.isDelete" (click)="getDataRestore()" data-bs-toggle="modal" data-bs-target="#restoreItemEmployeeModal" class="btn btn-warning">Khôi phục người dùng</button>
            </ng-container>
            <ng-template #elseGrid1>
              <button *ngIf="resEmployee.isDelete" (click)="getDataRestore()" data-bs-toggle="modal" data-bs-target="#restoreEmployeeModal" class="btn btn-warning">Khôi phục người dùng</button>
            </ng-template>
          </div>
        </div> -->
      </div>
      <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Thông tin</h3>
                <div class="row custom-control custom-switch mt-3" style="margin-left: 5px;">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" [(ngModel)]="resEmployee.isActive" (click)="resEmployee.isActive ? resEmployee.isActive = false : resEmployee.isActive = true; inputChange()" [disabled]="resEmployee.isDelete">
                  <label class="custom-control-label" for="customSwitch1">Kích hoạt tài khoản</label>
                </div>
              </div>
              <!-- <div class="col-4 text-right">
                <a href="javascript:void(0)" *ngIf="type == 'detail' && resEmployee.isDelete == false" class="btn btn-sm btn-primary" (click)="isEditChange()">{{!isEdit ? "Chỉnh sửa":"Quay lại"}}</a>
              </div> -->
            </div>
          </div>
          <div class="card-body">
            <form>
              <h6 class="heading-small text-muted mb-4">Thông tin cá nhân</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="nameEmployee">Họ & tên
                        <span [class]="resEmployee.isDelete ?'d-none':'text-red'">* {{this.validateEmployee.nameEmployee ? this.validateEmployee.nameEmployee : ''}}</span>
                      </label>
                      <input [(ngModel)]="resEmployee.nameEmployee" (input)="inputChange()" name="nameEmployee" type="text" id="nameEmployee" class="form-control " placeholder="Nhập họ tên"  [readonly]="resEmployee.isDelete">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="idRole">Chức vụ
                        <span [class]="resEmployee.isDelete ?'d-none':'text-red'">* {{this.validateEmployee.roleId ? this.validateEmployee.roleId : ''}}</span>
                      </label>
                      <ng-select
                                  [(ngModel)]="resEmployee.roleId"
                                  [disabled]="resEmployee.isDelete"
                                  placeholder="Chọn chức vụ..."
                                  name="idRole"
                                  id="idRole"
                                  (change)="inputChange()">

                                  <ng-container *ngIf="resEmployee.roleId != -1 && type == 'detail'; else elseADM">
                                    <ng-container *ngFor="let role of resRole">
                                      <ng-option *ngIf="role.idRole != -1" [value]="role.idRole" >{{role.nameRole}}</ng-option>
                                    </ng-container>
                                  </ng-container>
                                  <ng-template #elseADM>
                                    <ng-container *ngFor="let role of resRole">
                                      <ng-option  [value]="role.idRole" >{{role.nameRole}}</ng-option>
                                    </ng-container>
                                  </ng-template>


                      </ng-select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="gender">Giới tính
                        <span [class]="resEmployee.isDelete ?'d-none':'text-red'">* {{this.validateEmployee.gender ? this.validateEmployee.gender : ''}}</span>
                      </label>
                      <ng-select [items]="listGender" [(ngModel)]="resEmployee.gender" bindValue="id" bindLabel="name" name="gender" id="gender" [disabled]="resEmployee.isDelete"
                      placeholder="Chọn giới tính..." (change)="inputChange()">
                     </ng-select>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="dp">Ngày sinh
                        <span [class]="resEmployee.isDelete ?'d-none':'text-red'">* {{this.validateEmployee.birthday ? this.validateEmployee.birthday : ''}}</span>
                      </label>
                      <input  name="birthday" onkeydown="return false" (change)="inputDateChange();inputChange()" [(ngModel)]="resEmployee.birthday" class="form-control datepicker" placeholder="Chọn ngày" name="dp" id="dp" type="date" [disabled]="resEmployee.isDelete"/>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4" />
              <!-- Address -->
              <h6 class="heading-small text-muted mb-4">Thông tin liên lạc</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="phone">Điện thoại
                        <span [class]="resEmployee.isDelete ?'d-none':'text-red'">* {{this.validateEmployee.phone ? this.validateEmployee.phone : ''}}</span>
                      </label>
                      <input [(ngModel)]="resEmployee.phone" (input)="formatInput($any($event).target); inputChange()" name="phone" type="text" id="phone" class="form-control " placeholder="Nhập điện thoại" [readonly]="resEmployee.isDelete">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="email">Email
                        <span [class]="type == 'detail' ?'d-none':'text-red'">* {{this.validateEmployee.email ? this.validateEmployee.email : ''}}</span>
                      </label>
                      <input [(ngModel)]="resEmployee.email" (input)="inputChange()" name="email" type="email" id="email" class="form-control " placeholder="Nhập email" [readonly]="type == 'detail'">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="form-control-label" for="address">Địa chỉ
                        <span [class]="resEmployee.isDelete ?'d-none':'text-red'">* {{this.validateEmployee.address ? this.validateEmployee.address : ''}}</span>
                      </label>
                      <textarea [(ngModel)]="resEmployee.address" (input)="inputChange()" id="address"  name="address" rows="4" class="form-control " placeholder="Nhập địa chỉ" [readonly]="resEmployee.isDelete"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col-12 text-right" style="position: absolute; bottom: 10px; right: 10px;">
                  <button  *ngIf="auth.roleId == -1 && type == 'detail' && resEmployee.isDelete == false " class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteItemEmployeeModal" (click)="getDataDelete()">Xóa</button>
                  <button *ngIf="isChange && type == 'detail'" class="btn btn-sm btn-info" data-bs-toggle="modal" data-bs-target="#backupItemEmployeeModal">Khôi phục</button>
                  <button *ngIf="isChange" class="btn btn-sm btn-success"  (click)="save()">{{type == 'detail' ? "Lưu":"Thêm"}}</button>
                  <ng-container *ngIf="idEmployee; else elseGrid1">
                    <button *ngIf="resEmployee.isDelete" (click)="getDataRestore()" data-bs-toggle="modal" data-bs-target="#restoreItemEmployeeModal" class="btn btn-sm btn-warning">Khôi phục người dùng</button>
                  </ng-container>
                  <ng-template #elseGrid1>
                    <button *ngIf="resEmployee.isDelete" (click)="getDataRestore()" data-bs-toggle="modal" data-bs-target="#restoreEmployeeModal" class="btn btn-sm btn-warning">Khôi phục người dùng</button>
                  </ng-template>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>


<div class="modal fade" id="deleteItemEmployeeModal" tabindex="-1" aria-labelledby="deleteItemEmployeeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteItemEmployeeModalLabel">Xác nhận</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="resEmployee">
        Bạn có chắc muốn xóa [<span class="text-red">{{resEmployee.nameEmployee}}</span>] !
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="delete()" >Xóa</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Không</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="backupItemEmployeeModal" tabindex="-1" aria-labelledby="backupItemEmployeeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="backupItemEmployeeModalLabel">Xác nhận</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="resEmployee">
        Bạn có chắc muốn khôi phục  về dữ liệu ban đầu ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="backup()" >Khôi phục</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Không</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="restoreItemEmployeeModal" tabindex="-1" aria-labelledby="restoreItemEmployeeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="restoreEmployeeModalLabel">Xác nhận</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="resEmployee">
        Bạn có chắc muốn khôi phục [<span class="text-red">{{resEmployee.nameEmployee}}</span>] !
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="restore()" >Khôi phục</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Không</button>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Đổi Mật Khẩu</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="signin-form">
          <form method="POST" class="register-form" id="login-form" *ngIf="resEmployee">
              <div class="form-group">
                  <label for="your_pass">Nhập mật khẩu  cũ</label>
                  <input class="form-control" placeholder="Nhập mật khẩu cũ" type="password" name="password" [(ngModel)]="resEmployee.password">
                </div>
              <span class="text-danger " style="position: relative; top: -20px; font-weight: bolder;">{{validationChangePass.password ? validationChangePass.password : ''}}</span>

              <div class="form-group">
                <label for="your_pass">Nhập mật khẩu mới></label>
                <input class="form-control" placeholder="Nhập mật khẩu mới" type="password" name="password" [(ngModel)]="resEmployee.newPassword">
              </div>
               <span class="text-danger" style="position: relative; top: -20px; font-weight: bolder;">{{validationChangePass.newPassword ? validationChangePass.newPassword : ''}}</span>

              <div class="form-group">
              <label for="your_pass">Nhập lại mật khẩu mới</label>
              <input class="form-control" placeholder="Nhập lại mật khẩu mới" type="password" name="password" [(ngModel)]="resEmployee.confirmPassword">
            </div>
             <span class="text-danger" style="position: relative; top: -20px; font-weight: bolder;">{{validationChangePass.confirmPassword ? validationChangePass.confirmPassword : ''}}</span>
              <div class="text-center">
                  <button  type="button" class="btn btn-outline-info mb-5" (click)="EmpchangePass()" >Đổi mật khẩu</button>
              </div>
          </form>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
