
tbody {
  display: block;
  // height: 410px;
  overflow-x: hidden;
  overflow-y: auto;
}
thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;/* even columns width , fix width of table too*/
}
thead {
  z-index: 1;
  position: sticky;
  top: -1px;
  width: calc( 100.9% - 1rem )/* scrollbar is average 1em/16px width, remove it from thead width */
}
table {
  width: 100%;
}

