<!-- <ag-grid-angular
    style="width: 100%; height: 567px;"
    class="ag-theme-alpine"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowData]="rowData"
    [rowDragManaged]="true"
    [animateRows]="true"
    [rowSelection]="rowSelection"
    [pagination]="true"
    [paginationPageSize]="10"
  ></ag-grid-angular> -->


  <div class="table-responsive" >
    <table class="table align-items-center table-flush" >
      <thead class="thead-light" *ngIf="columnDefs">
        <tr>
          <th scope="col"></th>
          <th scope="col" *ngFor="let column of columnDefs">{{column.headerName}}
            <ng-container *ngIf="column.searchType == 'section'; else elseSection">
              <ng-select style="width: 200px;" [items]="column.listSection"  placeholder="Tìm kiếm..." (change)="selectSection(column.searchObj)" id="section" name="section" [(ngModel)]="keyword[column.searchObj]" [bindLabel]="column.bindLabel" [bindValue]="column.bindValue" appendTo="body" [multiple]="column.multiple"  dropdownPosition="auto" [searchable]="false" [closeOnSelect]="false">
                <ng-container *ngIf="column.multiple;">
                  <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item[column.bindLabel]}}
                  </ng-template>
                </ng-container>
              </ng-select>
            </ng-container>
            <ng-template #elseSection>
              <ng-container *ngIf="column.searchType == 'date'; else elseDateTime">
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                    </div>
                    <input class="form-control datepicker" placeholder="Select date" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" type="text"/>
                  </div>
                </div>
              </ng-container>
              <ng-template #elseDateTime>
                <input *ngIf="column.searchable" placeholder="Tìm kiếm..."  (change)="search(column.searchObj)" [(ngModel)]="keyword[column.field]" [type]="column.searchType" class="form-control custom-pages-input" style="height: 30px" [name]="column.field" [id]="column.field">
              </ng-template>
            </ng-template>
          </th>
          <th>
            <div ngbDropdown placement="bottom-right">
              <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                <i class="fas fa-ellipsis-v"></i>
              </a>
              <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                <a class="dropdown-item" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#gridData">Thêm</a>
                <div class="dropdown-divider"></div>
                <label class="custom-toggle" style="margin-left: 5px;">
                  <input type="checkbox" (change)="changeChecked()" [checked]="checked">
                  <span class="custom-toggle-slider rounded-circle"></span>
                </label>
                <span style="position: absolute; margin-left: 5px;">Kho lưu trữ</span>
              </div>
            </div>

          </th>
        </tr>
      </thead>
      <tbody *ngIf="!rowData" ><tr><td><br><br><br><br></td></tr></tbody>
      <tbody *ngIf="rowData">
        <tr *ngFor="let row of rowData; let i=index" >
          <ng-container *ngIf="row.rowNum >= start && row.rowNum <= end">
            <td style="padding-left: 20px;">{{row.rowNum}}</td>
            <td  *ngFor="let column of columnDefs" scope="row">
              <ng-container *ngIf="column.filter == 'avatar'; else elseType">
                <div class="media align-items-center">
                  <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                    <img  [src]="row.Image ? row.Image : '../../../assets/img/employees/unknown.png'">
                  </a>
                  <div class="media-body">
                    <span class="mb-0 text-sm">{{row[column.field]}}</span>
                  </div>
                </div>
              </ng-container>
              <ng-template #elseType>
                <ng-container *ngIf="column.filter == 'status'; else elseStatus">
                  <div style="float: right;">
                    <span class="badge badge-dot mr-4">
                      <i [class]="row[column.field] ? 'bg-success':'bg-error'"></i>
                    </span>

                    <div ngbDropdown [placement]="i >= rowData.length-2 ? 'top-right':'bottom-right'">
                      <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#gridData">Chi tiết</a>
                        <a class="dropdown-item" href="javascript:void(0)">Xóa</a>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <ng-template #elseStatus>
                  {{row[column.field]}}
                </ng-template>
              </ng-template>
            </td>
          </ng-container>
        </tr>
        <tr *ngIf="rowData.length == 1">
          <td><br></td>
        </tr>
      </tbody>
    </table>
  </div>
  <nav aria-label="Page navigation example" class="row">
    <div class="col-6">
      <ul class="pagination justify-content-start" style="margin-left: 20px;">
      <li class="page-item" style="margin-right: 10px; margin-top: 10px;"><h5>Xem</h5></li>
      <li class="page-item">
        <ng-select [items]="listPageSize"  placeholder="Chọn giá trị..."  id="pageSize" name="pageSize" [(ngModel)]="pageSize" (change)="changePageSize()" appendTo="body" [clearable]="false" dropdownPosition="auto" [searchable]="false" style="margin-top: 3px;">
        </ng-select>
      </li>
      <li class="page-item" style="margin-left: 10px; margin-top: 10px;"><h5>mục</h5></li>

    </ul>
  </div>
  <div class="col-6">
    <ul class="pagination justify-content-end">
    <li class="page-item">
      <a href="javascript:void(0)" tabindex="-1" (click)="btnPrev == true?selectPage(i.value, 'prevAll'):''">
        <span style="font-size: 25px;" >&laquo;</span>
      </a>
    </li>
    <li class="page-item">
      <a href="javascript:void(0)" tabindex="-1" (click)="btnPrev == true?selectPage(i.value, 'prev'):''">
        <span style="font-size: 25px;" >&lsaquo;</span>
      </a>
    </li>
    <li class="page-item" style="margin-right: 10px; margin-top: 10px;"><h5>Trang</h5></li>
    <input type="text" #i  inputmode="numeric"
    pattern="[0-9]*"
    class="form-control custom-pages-input"
    id="paginationInput"
    [(ngModel)]="pageNumber"
    (keyup.enter)="selectPage(i.value, '')"
    (blur)="selectPage(i.value, '')"
    (input)="formatInput($any($event).target)"
    style="width: 2.8rem">
    <li class="page-item" style="margin-left: 10px; margin-top: 10px;"><h5>trên {{pageCount}}</h5></li>
    <li class="page-item">
      <a href="javascript:void(0)" (click)="btnNext == true?selectPage(i.value, 'next'):''">
        <span style="font-size: 25px;"  >&rsaquo;</span>
      </a>
    </li>
    <li class="page-item">
      <a href="javascript:void(0)" (click)="btnNext == true?selectPage(i.value, 'nextAll'):''">
        <span style="font-size: 25px;" >&raquo;</span>
      </a>
    </li>
  </ul>
</div>
  </nav>


