<div class="modal-header">
    <h1 class="modal-title fs-5" id="gridDataLael">Thông tin chi tiết</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
  </div>
  <div class="modal-body">
    <ng-container *ngIf="resLog">
      <div class="container-fluid" >
        <form>
          <div class="pl-lg-4">


            <div class="row">

                <ng-container *ngIf="resLog.classContent == 'Tour'">
                  <form>

                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-name">Mã Tour</label>
                            <input type="text" id="id" name="id" class="form-control " placeholder="Mã code sẽ tự tạo " readonly [(ngModel)]="resTour.idTour">
                          </div>
                        </div>
                        <div class="col-lg-6" >
                          <div class="form-group">
                            <label class="form-control-label" for="input-name" >Tên tour</label>
                            <input type="text" id="content" name="content" class="form-control " readonly [(ngModel)]="resTour.nameTour">
                          </div>
                        </div>

                      </div>

                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-name">người tạo</label>
                            <input type="text" id="modifyBy" name="modifyBy" class="form-control " placeholder="Mã code sẽ tự tạo " readonly [(ngModel)]="resTour.modifyBy">
                          </div>
                        </div>
                        <div class="col-lg-3" >
                          <div class="form-group">
                            <label class="form-control-label" for="input-name" >Thời gian</label>
                            <input type="text" id="modifyDate" name="modifyDate" class="form-control " readonly [(ngModel)]="resTour.modifyDate ">
                          </div>
                        </div>
                        <div class="col-lg-3" >
                          <div class="form-group">
                            <label class="form-control-label" for="input-name" >Loại Phê Duyệt</label>
                            <input type="text" id="typeAction" name="typeAction" class="form-control " readonly [(ngModel)]="resTour.typeAction">
                          </div>
                        </div>
                      </div>
                      <hr>

                  </form>
                </ng-container>

                <ng-container *ngIf="resLog.classContent == 'Hotel'">
                  <form>

                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-name">Mã khách sạn</label>
                            <input type="text" id="id" name="id" class="form-control " placeholder="Mã code sẽ tự tạo " readonly [(ngModel)]="resHotel.idHotel">
                          </div>
                        </div>
                        <div class="col-lg-6" >
                          <div class="form-group">
                            <label class="form-control-label" for="input-name" >Tên khách sạn</label>
                            <input type="text" id="content" name="content" class="form-control " readonly [(ngModel)]="resHotel.nameHotel">
                          </div>
                        </div>

                      </div>

                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-name">người tạo</label>
                            <input type="text" id="modifyBy" name="modifyBy" class="form-control " placeholder="Mã code sẽ tự tạo " readonly [(ngModel)]="resHotel.modifyBy">
                          </div>
                        </div>
                        <div class="col-lg-3" >
                          <div class="form-group">
                            <label class="form-control-label" for="input-name" >Thời gian</label>
                            <input type="text" id="modifyDate" name="modifyDate" class="form-control " readonly [(ngModel)]="resHotel.modifyDate ">
                          </div>
                        </div>
                        <div class="col-lg-3" >
                          <div class="form-group">
                            <label class="form-control-label" for="input-name" >Loại Phê Duyệt</label>
                            <input type="text" id="typeAction" name="typeAction" class="form-control " readonly [(ngModel)]="resHotel.typeAction">
                          </div>
                        </div>
                      </div>


                  </form>
                </ng-container>

                <ng-container *ngIf="resLog.classContent == 'Place'">
                  <form>

                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-name">Mã địa điểm</label>
                            <input type="text" id="id" name="id" class="form-control " placeholder="Mã code sẽ tự tạo " readonly [(ngModel)]="resPlace.idPlace">
                          </div>
                        </div>
                        <div class="col-lg-6" >
                          <div class="form-group">
                            <label class="form-control-label" for="input-name" >Tên khách sạn</label>
                            <input type="text" id="content" name="content" class="form-control " readonly [(ngModel)]="resPlace.namePlace">
                          </div>
                        </div>

                      </div>

                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-name">người tạo</label>
                            <input type="text" id="modifyBy" name="modifyBy" class="form-control " placeholder="Mã code sẽ tự tạo " readonly [(ngModel)]="resPlace.modifyBy">
                          </div>
                        </div>
                        <div class="col-lg-3" >
                          <div class="form-group">
                            <label class="form-control-label" for="input-name" >Thời gian</label>
                            <input type="text" id="modifyDate" name="modifyDate" class="form-control " readonly [(ngModel)]="resPlace.modifyDate ">
                          </div>
                        </div>
                        <div class="col-lg-3" >
                          <div class="form-group">
                            <label class="form-control-label" for="input-name" >Loại Phê Duyệt</label>
                            <input type="text" id="typeAction" name="typeAction" class="form-control " readonly [(ngModel)]="resPlace.typeAction">
                          </div>
                        </div>
                      </div>


                  </form>
                </ng-container>

                <ng-container *ngIf="resLog.classContent == 'TourBooking'">
                  <form>

                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-name">Mã Tour Booking</label>
                            <input type="text" id="idTourBooking" name="idTourBooking" class="form-control " placeholder="Mã code sẽ tự tạo " readonly [(ngModel)]="resTourBooking.idTourBooking">
                          </div>
                        </div>
                        <div class="col-lg-6" >
                          <div class="form-group">
                            <label class="form-control-label" for="input-name" >Email người tạo</label>
                            <input type="text" id="alias" name="alias" class="form-control " readonly [(ngModel)]="resTourBooking.email">
                          </div>
                        </div>

                      </div>

                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-name">Tên khách hàng</label>
                            <input type="text" id="name" name="name" class="form-control "  readonly [(ngModel)]="resTourBooking.nameCustomer ">
                          </div>
                        </div>
                        <div class="col-lg-3" >
                          <div class="form-group">
                            <label class="form-control-label" for="input-name" >Số điện thoại</label>
                            <input type="text" id="phone" name="phone" class="form-control " readonly [(ngModel)]="resTourBooking.phone ">
                          </div>
                        </div>
                        <div class="col-lg-3" >
                          <div class="form-group">
                            <label class="form-control-label" for="input-name" >Giá</label>
                            <input type="text" id="tourName" name="tourName" class="form-control " readonly [(ngModel)]="resTourBooking.totalPrice">
                          </div>
                        </div>
                      </div>


                  </form>
                </ng-container>

                <ng-container *ngIf="resLog.classContent == 'Restaurant'">
                  <form>

                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-name">Mã nhà hàng</label>
                            <input type="text" id="id" name="id" class="form-control " placeholder="Mã code sẽ tự tạo " readonly [(ngModel)]="resRestaurant.idRestaurant">
                          </div>
                        </div>
                        <div class="col-lg-6" >
                          <div class="form-group">
                            <label class="form-control-label" for="input-name" >Tên nhà hàng</label>
                            <input type="text" id="content" name="content" class="form-control " readonly [(ngModel)]="resRestaurant.nameRestaurant">
                          </div>
                        </div>

                      </div>

                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-name">người tạo</label>
                            <input type="text" id="modifyBy" name="modifyBy" class="form-control " placeholder="Mã code sẽ tự tạo " readonly [(ngModel)]="resRestaurant.modifyBy">
                          </div>
                        </div>
                        <div class="col-lg-3" >
                          <div class="form-group">
                            <label class="form-control-label" for="input-name" >Thời gian</label>
                            <input type="text" id="modifyDate" name="modifyDate" class="form-control " readonly [(ngModel)]="resRestaurant.modifyDate ">
                          </div>
                        </div>
                        <div class="col-lg-3" >
                          <div class="form-group">
                            <label class="form-control-label" for="input-name" >Loại Phê Duyệt</label>
                            <input type="text" id="typeAction" name="typeAction" class="form-control " readonly [(ngModel)]="resRestaurant.typeAction">
                          </div>
                        </div>
                      </div>


                  </form>
                </ng-container>
            </div>

          </div>
        </form>
      </div>



    </ng-container>
  </div>
