<div class="modal-header">
  <h1 class="modal-title fs-5" id="gridDataLabel">Thông tin chi tiết</h1>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
  <ng-container *ngIf="resCustomer">
    <div class="container-fluid" >
      <!-- <div class="row align-items-center">
        <div class="col-12 text-right">
          <a href="javascript:void(0)" *ngIf="type == 'detail'" class="btn btn-sm btn-primary" (click)="isEditChange()">{{!isEdit ? "Chỉnh sửa":"Quay lại"}}</a>
        </div>
      </div> -->

      <form>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label" for="input-username">Họ Tên khách Hàng</label>
                <input type="text" id="nameCustomer" name="nameCustomer" (input)="inputChange()" class="form-control form-control-alternative" placeholder="" [(ngModel)]="resCustomer.nameCustomer" [readonly]="!isEdit">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label" for="input-username">Điện thoại</label>
                <input type="text" id="phone" name="phone" (input)="inputChange()" class="form-control form-control-alternative" placeholder="" [(ngModel)]="resCustomer.phone" [readonly]="!isEdit">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label" for="input-username">Email</label>
                <input type="text" id="email" name="email" (input)="inputChange()" class="form-control form-control-alternative" placeholder="" [(ngModel)]="resCustomer.email" [readonly]="!isEdit">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-username">Địa chỉ</label>
                <input type="text" id="address" name="address" (input)="inputChange()" class="form-control form-control-alternative" placeholder="" [(ngModel)]="resCustomer.address" [readonly]="!isEdit">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label" for="input-username">Ngày sinh</label>
                <input type="date" id="birthday" name="birthday" (input)="inputChange()" class="form-control form-control-alternative" placeholder="" [(ngModel)]="resCustomer.birthday" [readonly]="!isEdit">
              </div>
            </div>
            <div class="col-lg-2">
              <div class="form-group">
                <label class="form-control-label" for="input-username">Điểm</label>
                <input type="number" id="point" name="point" (input)="inputChange()" class="form-control form-control-alternative" placeholder="" [(ngModel)]="resCustomer.point" [readonly]="!isEdit">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <!-- <div class="row align-items-center">
      <div class="col-12 text-right">
        <button  *ngIf="type == 'detail'" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteRoleModal">Xóa</button>
        <button *ngIf="isChange && type == 'detail'" class="btn btn-sm btn-info" >Khôi phục</button>
        <button *ngIf="isChange" class="btn btn-sm btn-success"  (click)="save()">{{type == 'detail' ? "Lưu":"Thêm"}}</button>
      </div>
    </div> -->

  </ng-container>
</div>


