.card-sidebar {
    width: 16rem;
    height: 5rem;
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    padding: 12px 10px;
    top: 2.5rem;
    // top: 6rem;

    // margin-bottom: 0.1rem;
  }
.card-sidebar:hover{
    background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
    // animation: load89234 2s forwards;
}

.card-active{
    background: #e5efff;
}
  // .card_load {
  //   width: 70px;
  //   height: 70px;
  //   position: relative;
  //   float: left;
  //   background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0
  //   40%, #e5e5e5 48%);
  //   border-radius: 50%;
  //   background-size: 200% 100%;
  //   background-position: 100% 0;
  //   animation: load89234 2s infinite;
  // }

  .card_load_extreme_title {
    width: 14.7rem;
    height: 47px;
    padding-top: 0.9rem;
    padding-left: 1rem;
    font-weight: bold;
    position: relative;
    float: right;
    border-radius: 5px;
    // background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
    margin-top: -1rem;
    background-size: 200% 100%;
    background-position: 100% 0;
    overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
    // animation: load89234 2s infinite;
  }

  .card_load_extreme_descripion {
    width: 14.7rem;
    max-width: 14.7rem;
    height: 47px;
    position: relative;
    float: right;
    border-radius: 5px;
    // background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0
    // 40%, #e5e5e5 48%);
    margin-top: -1rem;
    background-size: 200% 100%;
    background-position: 100% 0;
    padding-top: 0.7rem;
    padding-left: 1rem;
    color: silver;
    overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
    // animation: load89234 2s infinite;
  }

  // @keyframes load89234 {
  //   0% {
  //       background: white;
  //   }
  //   100% {
  //       background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
  //   }
  // }


  ::-webkit-scrollbar{
    margin-left: 50px;
    width: 3px;

   }

   ::-webkit-scrollbar-track{
    height: 10px;
   }

   ::-webkit-scrollbar-thumb{
    height: 20px !important;
    border-radius: 50px;
    background: linear-gradient(-45deg, #209077, #1ae28a 100%) !important;
   }
