<nav class="navbar navbar-vertical navbar-expand-md navbar-light bg-white" id="sidenav-main" style="box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px !important;
z-index: 1;">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed"
       aria-controls="sidenav-collapse-main">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand pt-0 bg-gradient-logo" routerLinkActive="active" href="javascript:void(0)" (click)="returnHome()"style="
    margin: -12%;">
      <img src="../../../assets/img/brand/lgoRover.png" style="margin-top: 10%;
      width: 80%; max-height: unset;"
       class="navbar-brand-img" alt="...">
    </a>

    <ul class="nav align-items-center d-md-none">
      <li class="nav-item" ngbDropdown placement="bottom-right">
        <a class="nav-link nav-link-icon" role="button" ngbDropdownToggle>
          <i class="ni ni-bell-55"></i>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0)">Action</a>
          <a class="dropdown-item" href="javascript:void(0)">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        </div>
      </li>
      <li class="nav-item" ngbDropdown placement="bottom-right">
        <a class="nav-link" role="button" ngbDropdownToggle>
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <img alt="Image placeholder" src="./assets/img/theme/team-1-800x800.jpg">
            </span>
          </div>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
          <div class=" dropdown-header noti-title">
            <h6 class="text-overflow m-0">Welcome!</h6>
          </div>
          <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-single-02"></i>
            <span>My profile</span>
          </a>
          <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-settings-gear-65"></i>
            <span>Settings</span>
          </a>
          <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-calendar-grid-58"></i>
            <span>Activity</span>
          </a>
          <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-support-16"></i>
            <span>Support</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#!" class="dropdown-item">
            <i class="ni ni-user-run"></i>
            <span>Logout</span>
          </a>
        </div>
      </li>
    </ul>

    <div class="collapse navbar-collapse"  [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">

      <div class="navbar-collapse-header d-md-none">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a  routerLinkActive="active" [routerLink]="['/dashboard']">
              <img src="./assets/img/brand/blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed=!isCollapsed">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>

      <form class="mt-4 mb-3 d-md-none">
        <div class="input-group input-group-rounded input-group-merge">
          <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fa fa-search"></span>
            </div>
          </div>
        </div>
      </form>

      <ul class="navbar-nav">
        <ng-container *ngIf="auth.roleId != 6; else elseSupport">
          <li *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <ng-container *ngFor="let role of menuItem.roles">
              <a *ngIf="auth.roleId == role" routerLinkActive="active" [routerLink]="[menuItem.path]" class="nav-link">
                <i class="{{menuItem.icon}}"></i>
                {{menuItem.title}}
              </a>
             </ng-container>

          </li>
        </ng-container>
        <ng-template #elseSupport>
          <div style="margin-bottom: 3rem;">
            <h3>Search</h3>
          </div>
          <div style="overflow-x: hidden; overflow-y: auto; max-height: 30.4rem;">
            <ng-container  *ngFor="let group of resMess; let i=index">
              <!-- <ng-container *ngFor="let item of group.messengers; let i=index">

              </ng-container> -->

              <div [id]="group.idCustomer" class="card-sidebar" (click)="getData(group)" [routerLink]="['chat',group.idCustomer]">
                <!-- <div class="card_load"></div> -->
                <div class="card_load_extreme_title">{{group.nameCustomer}}</div>
                <div class="card_load_extreme_descripion">{{group.messengers[group.messengers.length-1].content}}</div>
              </div>
            </ng-container>
          </div>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>


<!-- <div class="menu">

</div>
<script src="../../../assets/js/script.js"></script> -->


<!-- <nav class="navbar navbar-vertical navbar-expand-md navbar-light bg-white" id="sidenav-main">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed"
    aria-controls="sidenav-collapse-main">
   <span class="navbar-toggler-icon"></span>
 </button>

 <a class="navbar-brand pt-0" routerLinkActive="active" [routerLink]="['/dashboard']">
   <img src="./assets/img/brand/red.png" class="navbar-brand-img" alt="...">
 </a>
    <ul>
      <li class="item active">
          <i class="fa-solid fa-house-user"></i> Dashboard
      </li>
      <li class="item">
          <i class="fa-solid fa-shirt"></i> Products <i class="fa-solid fa-chevron-down"></i>
          <ul>
              <li>Add product</li>
              <li>List product</li>
          </ul>
      </li>

      <li class="item">
          <i class="fa-solid fa-user"></i> Users <i class="fa-solid fa-chevron-down"></i>
          <ul>
              <li>Add user</li>
              <li>List user</li>
              <li>block user</li>
          </ul>
      </li>
      <li class="item"><i class="fa-solid fa-gear"></i> Setting</li>


  <div id="action" class=""></div>
  </ul>
  </div>
</nav> -->
