<div class="table-responsive" style="overflow-x: hidden">
    <table class="table align-items-center table-flush" >
      <thead id="thead" class="thead-light" *ngIf="columnDefs">
        <tr>
          <th scope="col" style="width: 50px;"></th>
          <th scope="col" *ngFor="let column of columnDefs" [style]="column.style">{{column.headerName}}
            <ng-container *ngIf="column.searchable">
              <ng-container *ngIf="column.searchType == 'section'; else elseSection">
                <ng-container *ngIf="column.filter == 'star'; else elseStar">
                  <ng-select  [virtualScroll]="true" [items]="column.listSection" (open)="ngOnChanges()"  placeholder="Tìm kiếm..." (change)="selectSection(column.searchObj)" id="section" name="section" [(ngModel)]="keyword[column.searchObj+'Tmp']" [bindLabel]="column.bindLabel" [bindValue]="column.bindValue" appendTo="body" [multiple]="column.multiple"  dropdownPosition="auto" [searchable]="false" [closeOnSelect]="column.closeOnSelect">
                    <ng-container *ngIf="column.multiple;">
                      <ng-template ng-label-tmp let-item="item" let-item$="item$" let-index="index">
                        {{item[column.bindLabel]}} -
                        <i class="fa-solid fa-star text-yellow" *ngFor='let star of item[column.bindValue] | forNumber'></i>
                        <i class="fa-solid fa-star" *ngFor='let star of column.listSection.length-1 - item[column.bindValue] | forNumber'></i>
                      </ng-template>

                      <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/>
                        {{item[column.bindLabel]}} -
                        <i class="fa-solid fa-star text-yellow" *ngFor='let star of item[column.bindValue] | forNumber'></i>
                        <i class="fa-solid fa-star" *ngFor='let star of column.listSection.length-1 - item[column.bindValue] | forNumber'></i>

                      </ng-template>
                    </ng-container>
                  </ng-select>
                </ng-container>
                <ng-template #elseStar>
                  <ng-select  [virtualScroll]="true" [items]="column.listSection" (open)="ngOnChanges()"  placeholder="Tìm kiếm..." (change)="selectSection(column.searchObj)" id="section" name="section" [(ngModel)]="keyword[column.searchObj+'Tmp']" [bindLabel]="column.bindLabel" [bindValue]="column.bindValue" appendTo="body" [multiple]="column.multiple"  dropdownPosition="auto" [searchable]="false" [closeOnSelect]="column.closeOnSelect">
                    <ng-container *ngIf="column.multiple;">
                      <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item[column.bindLabel]}}
                      </ng-template>
                    </ng-container>
                  </ng-select>
                </ng-template>
              </ng-container>
              <ng-template #elseSection>
                <ng-container *ngIf="column.searchType == 'date'; else elseDate">
                  <ng-container *ngIf="column.typeDate == 'range'; else elseTypeDate">
                    <div class="row">
                      <div class="col-4" style="padding-top: 8px;">Từ ngày </div>
                      <input  class="col-8 form-control custom-pages-input" style="height: 30px;" name="dp" (change)="search(column.searchObj)" [(ngModel)]="keyword[column.searchObj+'From']" onkeydown="return false"   placeholder="DD/MM/YYYY"  type="date"/>
                     </div>
                     <div class="row">
                      <div class="col-4" style="padding-top: 8px;">Đến ngày </div>
                      <input  class="col-8 form-control custom-pages-input" style="height: 30px;" name="dp" (change)="search(column.searchObj)" [(ngModel)]="keyword[column.searchObj+'To']" onkeydown="return false"   placeholder="DD/MM/YYYY"  type="date"/>
                     </div>
                  </ng-container>
                  <ng-template #elseTypeDate>
                    <input  class="form-control custom-pages-input" style="height: 30px" name="dp" (change)="search(column.searchObj)" [(ngModel)]="keyword[column.searchObj]" onkeydown="return false"  type="date"/>
                  </ng-template>

                </ng-container>
                <ng-template #elseDate>
                 <ng-container *ngIf="column.searchType == 'dateTime'; else elseDateTime">
                  <ng-container *ngIf="column.typeDate == 'range'; else elseTypeDateTime">
                    <div class="row">
                      <div class="col-4" style="padding-top: 8px;">Từ ngày </div>
                      <input  class="col-8 form-control custom-pages-input" style="height: 30px;" (change)="search(column.searchObj)" name="dp" [(ngModel)]="keyword[column.searchObj+'From']" onkeydown="return false"   placeholder="DD/MM/YYYY"  type="datetime-local"/>
                     </div>
                     <div class="row">
                       <div class="col-4" style="padding-top: 8px;">Đến ngày </div>
                       <input  class="col-8 form-control custom-pages-input" style="height: 30px;" (change)="search(column.searchObj)" name="dp" [(ngModel)]="keyword[column.searchObj+'To']" onkeydown="return false"   placeholder="DD/MM/YYYY"  type="datetime-local"/>
                      </div>
                  </ng-container>
                  <ng-template #elseTypeDateTime>
                    <input class="form-control custom-pages-input" style="height: 30px" name="dp" (change)="search(column.searchObj)" [(ngModel)]="keyword[column.searchObj]" onkeydown="return false"  type="date"/>
                  </ng-template>
                 </ng-container>
                 <ng-template #elseDateTime>
                  <ng-container *ngIf="column.searchType == 'number'; else elseNumber">
                    <input  placeholder="Tìm kiếm..." (input)="formatInput($any($event).target, keyword, column.field, 'number')" (blur)="search(column.searchObj)" [(ngModel)]="keyword[column.field]" type="text" class="form-control custom-pages-input" style="height: 30px" [name]="column.field" [id]="column.field">
                   </ng-container>
                   <ng-template #elseNumber>
                    <ng-container *ngIf="column.searchType == 'price'; else elsePrice">
                      <input  placeholder="Tìm kiếm..." (input)="formatInput($any($event).target, keyword, column.field, 'price')" (blur)="search(column.searchObj)" [(ngModel)]="keyword[column.field]" type="text" class="form-control custom-pages-input" style="height: 30px" [name]="column.field" [id]="column.field">
                    </ng-container>
                    <ng-template #elsePrice>
                      <input  placeholder="Tìm kiếm..."  (blur)="search(column.searchObj)" [(ngModel)]="keyword[column.field]" type="text" class="form-control custom-pages-input" style="height: 30px" [name]="column.field" [id]="column.field">
                    </ng-template>
                   </ng-template>
                 </ng-template>

                </ng-template>
              </ng-template>
            </ng-container>
          </th>
          <th scope="col" >
            <div *ngIf="!gridConfig.disableRadioBox || !gridConfig.disableCreate" ngbDropdown placement="bottom-right">
              <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle (click)="changeZIndex()">
                <i class="fas fa-ellipsis-v" style="color: #4d4aef!important;"></i>
              </a>
              <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                <a class="dropdown-item" href="javascript:void(0)" *ngIf="!gridConfig.isRestore && !gridConfig.disableCreate" [routerLink]="['',gridConfig.route, 'create', 'new']" >Thêm</a>
                <ng-container *ngIf="!gridConfig.disableRadioBox;">
                  <div class="dropdown-divider" *ngIf="!gridConfig.isRestore"></div>
                <label class="custom-toggle" style="margin-left: 5px;">
                  <input type="checkbox" (change)="changeChecked()" [checked]="gridConfig.isRestore">
                  <span class="custom-toggle-slider rounded-circle"></span>
                </label>
                <span style="position: absolute; margin-left: 5px;">{{gridConfig.radioBoxName}}</span>
                </ng-container>

              </div>
            </div>

          </th>
        </tr>
      </thead>
      <tbody *ngIf="!rowData" [style]="gridConfig.style ? gridConfig.style :  'height: 330px;'">
        <!-- <div class="follow-the-leader" style="position: absolute;  left: 50%; top: 45%;">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div> -->
        <div aria-label="Orange and tan hamster running in a metal wheel" role="img" class="wheel-and-hamster" style="position: absolute;  left: 45%; top: 40%;">
          <div class="wheel"></div>
          <div class="hamster">
            <div class="hamster__body">
              <div class="hamster__head">
                <div class="hamster__ear"></div>
                <div class="hamster__eye"></div>
                <div class="hamster__nose"></div>
              </div>
              <div class="hamster__limb hamster__limb--fr"></div>
              <div class="hamster__limb hamster__limb--fl"></div>
              <div class="hamster__limb hamster__limb--br"></div>
              <div class="hamster__limb hamster__limb--bl"></div>
              <div class="hamster__tail"></div>
            </div>
          </div>
          <div class="spoke"></div>
        </div>
      </tbody>
      <tbody *ngIf="rowData" [style]="gridConfig.style ? gridConfig.style :  'height: 330px;'">
        <tr *ngFor="let row of rowData; let i=index" >
          <ng-container>
            <td style="padding-left: 20px; width: 50px;">{{row.rowNum}}</td>
            <td  *ngFor="let column of columnDefs" [style]="column.style" scope="row" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
              <ng-container *ngIf="column.filter == 'status'; else elseStatus">
                <div >
                  <span class="badge badge-dot">
                    <i [class]="row[column.field] ? 'bg-success':'bg-danger'"></i>
                  </span>
                  {{row[column.field] ? 'Đã kích hoạt':'Chưa kích hoạt'}}
                </div>
              </ng-container>
              <ng-template #elseStatus>
                <ng-container *ngIf="column.filter == 'date'; else elseDate">
                  {{row[column.field] | formatFromUnixTimestampToFullDateView}}
                </ng-container>
                <ng-template #elseDate>
                  <ng-container *ngIf="column.filter == 'star'; else elseStar">
                    {{row[column.field] < 10 ? '0'+row[column.field] : row[column.field]}} -
                    <i class="fa-solid fa-star text-yellow" *ngFor='let star of row[column.field] | forNumber'></i>
                    <i class="fa-solid fa-star" *ngFor='let star of column.listSection.length-1 - row[column.field] | forNumber'></i>
                  </ng-container>
                  <ng-template #elseStar>
                    <ng-container *ngIf="column.filter == 'call'; else elseCalled">
                      <ng-container *ngIf="row[column.field]">
                        <i class="fa-solid fa-check text-success"></i> {{row[column.field] | formatStatusCalled}}
                      </ng-container>

                      <ng-container *ngIf="!row[column.field]">
                        <i class="fa-solid fa-xmark text-danger"></i> {{row[column.field] | formatStatusCalled}}
                      </ng-container>
                    </ng-container>
                    <ng-template #elseCalled>
                      {{row[column.field]}}
                    </ng-template>
                  </ng-template>
                </ng-template>

              </ng-template>
            </td>

            <td>
              <div *ngIf="!gridConfig.disableDetail || !gridConfig.disableDelete || !gridConfig.disableRestore || !gridConfig.disableRestore" ngbDropdown [placement]="i >= rowData.length-2 && rowData.length > 2? 'top-right':'bottom-right'">
                <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                  <i class="fas fa-ellipsis-v" style="color: #4d4aef!important;"></i>
                </a>
                <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                  <ng-container *ngIf="gridConfig.disableApprove; else elseApprove">
                    <a class="dropdown-item" href="javascript:void(0)" *ngIf="!gridConfig.disableDetail" [routerLink]="['',gridConfig.route, 'detail', row[gridConfig.alias]]">Chi tiết</a>
                  </ng-container>
                  <ng-template #elseApprove>
                    <a class="dropdown-item" href="javascript:void(0)" *ngIf="!gridConfig.disableDetail"  [routerLink]="['',gridConfig.route, 'approve', row[gridConfig.alias]]">Chi tiết</a>
                  </ng-template>


                  <ng-container *ngIf="!gridConfig.isRestore; else elseRestoreOrDelete">
                    <a class="dropdown-item" href="javascript:void(0)" *ngIf="!gridConfig.disableDelete"  data-bs-toggle="modal" [attr.data-bs-target]="'#'+gridConfig.idModalDelete" (click)="getDataDelete(row)">Xóa</a>
                    <a class="dropdown-item" href="javascript:void(0)" *ngIf="!gridConfig.disableApprove"  data-bs-toggle="modal" [attr.data-bs-target]="'#'+gridConfig.idModalApprove" (click)="getDataApprove(row)">Hủy yêu cầu</a>
                  </ng-container>
                  <ng-template #elseRestoreOrDelete>
                    <a class="dropdown-item" href="javascript:void(0)"  *ngIf="!gridConfig.disableRestore"  data-bs-toggle="modal" [attr.data-bs-target]="'#'+gridConfig.idModalRestore" (click)="getDataRestore(row)">Khôi phục</a>
                  </ng-template>

                </div>
              </div>
            </td>
          </ng-container>

        </tr>
      </tbody>
    </table>
  </div>
  <nav aria-label="Page navigation example" class="row">
    <div class="col-6">
      <ul class="pagination justify-content-start" style="margin-left: 20px;">
      <li class="page-item" style="margin-right: 10px; margin-top: 10px;"><h5>Xem</h5></li>
      <li class="page-item">
        <ng-select [virtualScroll]="true" [items]="listPageSize"  placeholder="Chọn giá trị..."  id="pageSize" name="pageSize" [(ngModel)]="gridConfig.pageSize" (change)="changePageSize()"  [clearable]="false" dropdownPosition="auto" [searchable]="false" style="margin-top: 3px;">
        </ng-select>
      </li>
      <li class="page-item" style="margin-left: 10px; margin-top: 10px;"><h5>mục</h5></li>

    </ul>
  </div>
  <div class="col-6">
    <ul class="pagination justify-content-end">
    <li class="page-item">
      <a href="javascript:void(0)" tabindex="-1" (click)="btnPrev == true?selectPage(i.value, 'prevAll'):''">
        <span style="font-size: 25px;" >&laquo;</span>
      </a>
    </li>
    <li class="page-item">
      <a href="javascript:void(0)" tabindex="-1" (click)="btnPrev == true?selectPage(i.value, 'prev'):''">
        <span style="font-size: 25px;" >&lsaquo;</span>
      </a>
    </li>
    <li class="page-item" style="margin-right: 10px; margin-top: 10px;"><h5>Trang</h5></li>
    <input type="text" #i  inputmode="numeric"
    pattern="[0-9]*"
    class="form-control custom-pages-input"
    id="paginationInput"
    [(ngModel)]="pageIndex"
    (keyup.enter)="selectPage(i.value, '')"
    (blur)="selectPage(i.value, '')"
    (input)="formatInput($any($event).target)"
    style="width: 2.8rem">
    <li class="page-item" style="margin-left: 10px; margin-top: 10px;"><h5>trên {{pageCount}}</h5></li>
    <li class="page-item">
      <a href="javascript:void(0)" (click)="btnNext == true?selectPage(i.value, 'next'):''">
        <span style="font-size: 25px;"  >&rsaquo;</span>
      </a>
    </li>
    <li class="page-item">
      <a href="javascript:void(0)" (click)="btnNext == true?selectPage(i.value, 'nextAll'):''">
        <span style="font-size: 25px;" >&raquo;</span>
      </a>
    </li>
  </ul>
</div>
  </nav>
