<div class="header bg-gradient-cus" style="height: 5rem;">
  <!-- <div class="container-fluid">
    <div class="header-body">
    </div>
  </div> -->
</div>
<div class="container-fluid mt-4">


  <div class="row mb-2">
    <div class="row">
      <div class="col-xl-12">
        <div class="card shadow" style="margin-bottom: 2rem;">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Thống kê tổng TourBooking </h3>
              </div>
            </div>
          </div>
          <div class="table-responsive bg-secondary" style="overflow-x: unset;">
            <!-- Projects table -->
            <div class="row" style="    margin-left: 2rem; margin-top: 2rem; margin-bottom: 2rem; margin-right: 2rem;" *ngIf="resTotalTourbooking">
              <div class="col-xl-3 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Tất cả</h5>
                        <span class="h2 font-weight-bold mb-0">{{resTotalTourbooking.total}}</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                          <i class="fas fa-chart-bar"></i>
                        </div>
                      </div>
                    </div>
                    <p class="mt-3 mb-0 text-muted text-sm">
                      <span class="text-success mr-2"><i class="fa fa-arrow-up"></i></span>
                      <span class="text-nowrap">Since last month</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">TourBooking đã thanh toán</h5>
                        <span class="h2 font-weight-bold mb-0">{{resTotalTourbooking.totalPaid}}</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                          <i class="fa-solid fa-money-check-dollar"></i>
                        </div>
                      </div>
                    </div>
                    <p class="mt-3 mb-0 text-muted text-sm">
                      <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i></span>
                      <span class="text-nowrap">Since last week</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">TourBooking đã xong</h5>
                        <span class="h2 font-weight-bold mb-0">{{resTotalTourbooking.totalFinished}}</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                          <i class="fa-solid fa-check"></i>
                        </div>
                      </div>
                    </div>
                    <p class="mt-3 mb-0 text-muted text-sm">
                      <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i></span>
                      <span class="text-nowrap">Since yesterday</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">TourBooking đã hủy</h5>
                        <span class="h2 font-weight-bold mb-0">{{resTotalTourbooking.totalCancel}}</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                          <i class="fa-solid fa-trash"></i>
                        </div>
                      </div>
                    </div>
                    <p class="mt-3 mb-0 text-muted text-sm">
                      <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> </span>
                      <span class="text-nowrap">Since last month</span>
                    </p>
                  </div>
                </div>
              </div>
             </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <ul class="nav nav-pills justify-content-start">
        <li class="nav-item mr-2 mr-md-0" (click)="dateChange()">
          <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked==='date'}" data-toggle="tab" (click)="clicked='date'">
            <span class="d-none d-md-block">Ngày</span>
          </a>
        </li>
        <li class="nav-item" (click)="weekChange()">
          <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked==='week'}" data-toggle="tab" (click)="clicked='week'">
            <span class="d-none d-md-block">Tuần</span>
          </a>
        </li>
        <li class="nav-item mr-2 mr-md-0" (click)="monthChange()">
          <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked==='month'}" data-toggle="tab" (click)="clicked='month'">
            <span class="d-none d-md-block">Tháng</span>
          </a>
        </li>
        <li class="nav-item" (click)="yearChange()">
          <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked==='year'}" data-toggle="tab" (click)="clicked='year'">
            <span class="d-none d-md-block">Năm</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul class="nav nav-pills justify-content-start">
        <li class="nav-item mr-2 mr-md-0" style="width: 20%;" *ngIf="clicked == 'date'">
          <div class="menu-arrow"></div>
          <div class="nav-link py-2 px-3 active">
            <span class="d-none d-md-block" *ngIf="resWeek">
              <div class="row mb-2">
                <div class="col-4" style="padding-top: 12px;">Từ ngày</div>
                <input  class="col-8 form-control custom-pages-input" style="margin-left: -10px;" name="fromDate" onkeydown="return false" [(ngModel)]="resWeek.fromDate" (change)="dateChange()"  placeholder="DD/MM/YYYY"  type="date"/>
               </div>
               <div class="row">
                <div class="col-4" style="padding-top: 12px;">Đến ngày </div>
                <input  class="col-8 form-control custom-pages-input" style="margin-left: -10px;" name="toDate"  onkeydown="return false" [(ngModel)]="resWeek.toDate" (change)="dateChange()" placeholder="DD/MM/YYYY"  type="date"/>
               </div>
            </span>
          </div>
        </li>
        <li class="nav-item mr-2 mr-md-0" style="margin-left: 5%; position: relative;" *ngIf="clicked == 'week'">
          <div class="menu-arrow"></div>
          <div class="nav-link py-2 px-3 active">
            <span class="d-none d-md-block">
              <div class="row mb-2">
                <div class="col-3" style="padding-top: 12px;">Năm</div>
                <div class="col-9">
                  <ng-select
                    [items]="resYears"
                    [(ngModel)]="resWeek.year"
                    placeholder="Chọn năm..."
                    bindLabel="name"
                    bindValue="id"
                    [clearable]="false"
                    [searchable]="false"
                    name="year"
                    id="year"
                    (change)="weekChange()">
                  </ng-select>
                </div>
               </div>
              <div class="row">
                <div class="col-3" style="padding-top: 12px;">Tuần</div>
                <div class="col-9">
                  <ng-select
                  [items]="resWeeks"
                  [(ngModel)]="resWeek.week"
                  placeholder="Chọn tuần..."
                  bindLabel="week"
                  bindValue="week"
                  [clearable]="false"
                  [searchable]="false"
                  name="week"
                  id="week"
                  (change)="weekChange()">
                </ng-select>
                </div>
               </div>
            </span>
          </div>
        </li>
        <li class="nav-item mr-2 mr-md-0" style="margin-left: 10%; position: relative;" *ngIf="clicked == 'month'">
          <div class="menu-arrow"></div>
          <div class="nav-link py-2 px-3 active">
            <span class="d-none d-md-block">
              <div class="row mb-2">
                <div class="col-4" style="padding-top: 12px;">Năm</div>
                <div class="col-8">
                  <ng-select
                    [items]="resYears"
                    [(ngModel)]="resWeek.year"
                    placeholder="Chọn năm..."
                    bindLabel="name"
                    bindValue="id"
                    [clearable]="false"
                    [searchable]="false"
                    name="year"
                    id="year"
                    (change)="monthChange()">
                  </ng-select>
                </div>
               </div>
              <div class="row ">
                <div class="col-4" style="padding-top: 12px;">Tháng</div>
                <div class="col-8">
                  <ng-select
                  [items]="resMonths"
                  [(ngModel)]="resWeek.month"
                  placeholder="Chọn tuần..."
                  bindLabel="name"
                  bindValue="id"
                  [clearable]="false"
                  [searchable]="false"
                  name="month"
                  id="month"
                  (change)="monthChange()">

                </ng-select>
                </div>
               </div>

            </span>
          </div>
        </li>
        <li class="nav-item mr-2 mr-md-0" style="margin-left: 15%; position: relative;" *ngIf="clicked == 'year'">
          <div class="menu-arrow"></div>
          <div class="nav-link py-2 px-3 active">
            <span class="d-none d-md-block">
               <div class="row">
                <div class="col-3" style="padding-top: 12px;">Năm</div>
                <div class="col-9">
                  <ng-select
                    [items]="resYears"
                    [(ngModel)]="resWeek.year"
                    placeholder="Chọn năm..."
                    bindLabel="name"
                    bindValue="id"
                    [clearable]="false"
                    [searchable]="false"
                    name="year"
                    id="year"
                    (change)="yearChange()">
                  </ng-select>
                </div>
               </div>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
              <h2 class="text-white mb-0">Sales value</h2>
            </div>

          </div>
        </div>
        <div class="card-body">
          <canvas baseChart
              [type]="'line'"
              [data]="lineChartData"
              [options]="lineChartOptions"
             >
            </canvas>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Các Tour du lịch</h6>
              <h2 class="mb-0">Tổng số người</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <canvas baseChart
              [type]="'bar'"
              [data]="barChartData"
              [options]="barChartOptions"
             >
            </canvas>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Page visits</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Tên tour</th>
                <th scope="col">Tổng số người</th>
                <th scope="col">Doanh thu</th>
                <th scope="col">Chi phí</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of resReportTourBooking">
                <th scope="row">
                  {{item.nameTour}}
                </th>
                <td>
                  {{item.quantityBooked}}
                </td>
                <td>
                  {{item.totalRevenue | formatPriceVi}}₫
                </td>
                <td>
                  {{item.totalCost | formatPriceVi}}₫
                </td>
              </tr>
              <!-- <tr>
                <th scope="row">
                  /argon/
                </th>
                <td>
                  4,569
                </td>
                <td>
                  340
                </td>
                <td>
                  <i class="fas fa-arrow-up text-success mr-3"></i> 46,53%
                </td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Social traffic</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Referral</th>
                <th scope="col">Visitors</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  Facebook
                </th>
                <td>
                  1,480
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">60%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Facebook
                </th>
                <td>
                  5,480
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">70%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Google
                </th>
                <td>
                  4,807
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">80%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Instagram
                </th>
                <td>
                  3,678
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">75%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  twitter
                </th>
                <td>
                  2,645
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">30%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
