<div class="modal-header">
  <h1 class="modal-title fs-5" id="gridDataLabel">Thông tin chi tiết</h1>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
  <ng-container *ngIf="resCar">
    <div class="container-fluid" >
      <form>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-name">Tên người lái
                </label>
                  <!-- <span>* {{this.validateEmployee.nameEmployee ? this.validateEmployee.nameEmployee : ''}}</span> -->
                <input type="text" id="driver" name="driver" (input)="inputChange()" class="form-control " placeholder="Nhập tên người lái" [(ngModel)]="resCar.nameDriver">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-phone">Số điện thoại</label>
                <input type="text" id="phone" name="phone" (input)="inputChange()" class="form-control " placeholder="Nhập số điện thoại" [(ngModel)]="resCar.phone">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-address">Biển số xe</label>
              <input type="text" id="liscensePlate" name="liscensePlate" (input)="inputChange()" class="form-control " placeholder="Nhập biển số xe" [(ngModel)]="resCar.liscensePlate" >
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-address">Số lượng chỗ ngồi</label>
              <input type="text" id="amountSeat" name="amountSeat" (input)="inputChange()" class="form-control " placeholder="Nhập số lượng chỗ ngồi" [(ngModel)]="resCar.amountSeat">
              </div>
            </div>
          </div>
          <hr>
        </div>
      </form>
    </div>

    <div class="row align-items-center">
      <div class="col-12 text-right">
        <button  *ngIf="type == 'detail'" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteProvinceModal" (click)="getDataDelete()">Xóa</button>
        <button *ngIf="isChange && type == 'detail'" class="btn btn-sm btn-info" (click)="restore()">Khôi phục</button>
        <button *ngIf="isChange" class="btn btn-sm btn-success"  (click)="save()">{{type == 'detail' ? "Lưu":"Thêm"}}</button>
      </div>
    </div>

  </ng-container>
</div>

